# Neste notebook vamos definir as funçoes de descriçao e filtragem dos dados a partir das classes definidas na bilbioteca GeoPandas e Matplotlib

[Mapping and Plotting Tools](https://geopandas.org/docs/user_guide/mapping.html)

[Matplotlib](https://matplotlib.org/stable/tutorials/introductory/usage.html#sphx-glr-tutorials-introductory-usage-py)


 *IMPORTANTE*
- Com as funçoes definidas e testadas neste notebook, criaremos um arquivo .py no diretorio .soureces/ para armazena-las, possibilitando assim, sua utilizaçao com a funçao import.

## As always, we start importing the functions we're gonna use with the function 'import'

In [1]:
import geopandas as gpd 
import pandas as pd
#import fiona

In [2]:
# Origem do banco de dados
gdb = '/home/ggrl/geodatabase/'

In [3]:
# Parametro para plot interativo
%matplotlib widget

## Importando os vetores do banco de dados criado no notebook passado.
- Escolha de camada e mapa
    - Caso nao tenha o mapa selecionado retorne lista de mapas disponiveis para aquela escala.
    - Caso nao escolha um mapa retorne todos os vetores daquela camada.

In [4]:
# IMPORTADOR DE LITOLOGIAS POR ESCALA --------------------------------------------------------------------------#
def importar_geometrias(camada, mapa=False):
    '''
    Recebe:
        camada      : camada vetorial a ser lida do geopackage.
        mapa        : nome do mapa presente na camada vetorial;

    Retorna:
        Objeto GeoDataFrame.
        
    Se houver seleçao de mapa retornara apenas as geometrias que possuem o nome escolhido na coluna ['MAPA']
    Se Retornar camada vazia recebera a lista das camadas veotoriais diposniveis
    Se mapa == False: retorna todos os objetos presente nesta camada vetorial
    '''
    lito =  gpd.read_file(gdb+'geodatabase.gpkg',
                        driver= 'GPKG',
                        layer= camada)
                        
    #print(f"# -- Lista de camadas vetoriais disponiveis: {list(fiona.listlayers(gdb+'geodatabase.gpkg'))}")  

    if mapa:
        folha = lito[lito.MAPA == 'Carta geológica da folha '+mapa]
        if folha.empty:
            print("O mapa escolhido nao est'a presente na coluna MAPA da camada veotiral. Os mapas disponiveis serao listados a seguir.")
            print('# Selecionando apenas os caracteres apos ''folha'' (SEM ESPAÇO)')
            print(f"# -- Lista de mapas: {list(lito.MAPA.unique())}")
            lista_mapas = list(lito.MAPA.unique())
            return lista_mapas

        else:    
            return(folha)
    else:
        return(lito)

###  Utilizando as funçoes definidas acima para importar os dados

In [5]:
# Abrindo os vetores descritivos dos projetos aerogeofisicos
proj_geof = importar_geometrias('proj_aerogeof')

In [6]:
litologia_1kk = importar_geometrias('litologia_1kk')
litologia_250k = importar_geometrias('litologia_250k')
litologia_100k = importar_geometrias('litologia_100k')
litologia_50k = importar_geometrias('litologia_50k')

## Descrevendo as caracteristicas dos dados

In [7]:
litologia_1kk.head(5)

,ID_UNIDADE,SIGLA,HIERARQUIA,NOME,AMBIENTE_T,SUB_AMBIEN,SIGLA_PAI,NOME_PAI,LEGENDA,ESCALA,...,ERA_MIN,ERA_MAX,SISTEMA_MI,SISTEMA_MA,EPOCA_MIN,EPOCA_MAX,SIGLAS_HIS,SHAPE_AREA,SHAPE_LEN,geometry
0,1506,Q1t,Unidade,Unidade Terraços fluviais,Cobertura superficial,Cobertura transportada(Clástica),Vazio,Vazio,Correspondem a amplos depósitos sedimentares c...,1:1.000.000,...,Cenozóico,Cenozóico,Neogeno,Neogeno,Superior,Superior,Vazio,0.002355,0.326835,"POLYGON ((-72.72785 -8.38730, -72.73120 -8.384..."
1,2054,K2ra,Formação,Formação Rio Azul,Vazio,Vazio,Vazio,Vazio,Folhelho cinza a castanho e arenito fino com n...,1:1.000.000,...,Mesozóico,Mesozóico,Cretáceo,Cretáceo,Inferior,Inferior,Vazio,0.005557,0.499255,"POLYGON ((-73.73806 -7.33994, -73.73616 -7.343..."
2,214,N12s,Formação,Formação Solimões,Vazio,Vazio,Vazio,Vazio,"Sedimento pelítico, flúvio lacustre, contendo ...",1:1.000.000,...,Cenozóico,Cenozóico,Neogeno,Neogeno,Superior,Superior,E2N2s,0.276915,3.847330,"MULTIPOLYGON (((-72.00000 -8.00000, -72.03095 ..."
3,1506,Q1t,Unidade,Unidade Terraços fluviais,Cobertura superficial,Cobertura transportada(Clástica),Vazio,Vazio,Correspondem a amplos depósitos sedimentares c...,1:1.000.000,...,Cenozóico,Cenozóico,Neogeno,Neogeno,Superior,Superior,Vazio,0.033780,1.492084,"POLYGON ((-72.00000 -7.25284, -72.00048 -7.253..."
4,214,N12s,Formação,Formação Solimões,Vazio,Vazio,Vazio,Vazio,"Sedimento pelítico, flúvio lacustre, contendo ...",1:1.000.000,...,Cenozóico,Cenozóico,Neogeno,Neogeno,Superior,Superior,E2N2s,2.239930,16.631079,"POLYGON ((-68.99004 -8.79511, -68.98310 -8.798..."

In [8]:
print(litologia_1kk.columns)

Index(['ID_UNIDADE', 'SIGLA', 'HIERARQUIA', 'NOME', 'AMBIENTE_T', 'SUB_AMBIEN',
       'SIGLA_PAI', 'NOME_PAI', 'LEGENDA', 'ESCALA', 'MAPA', 'LITOTIPOS',
       'RANGE', 'IDADE_MIN', 'IDADE_MAX', 'EON_MIN', 'EON_MAX', 'ERA_MIN',
       'ERA_MAX', 'SISTEMA_MI', 'SISTEMA_MA', 'EPOCA_MIN', 'EPOCA_MAX',
       'SIGLAS_HIS', 'SHAPE_AREA', 'SHAPE_LEN', 'geometry'],
      dtype='object')

In [9]:
meta_lito_1kk = pd.DataFrame(litologia_1kk.dtypes)
meta_lito_1kk['Valores null'] = litologia_1kk.isnull().sum()
meta_lito_1kk['Valores unicos'] = litologia_1kk.nunique()
meta_lito_1kk                                                                   # NEED TO CREATE A SYSTEM TO GENERATE A DATAFRAME FOR EACH LITOSTRATIGRAPHIC LAYER
                                                                                # TO DO SO, WE COULD CREATE AN UPPER INDEX FOR EACH LAYER CONTAINING ALL THIS INDECES.

                   0  Valores null  Valores unicos
ID_UNIDADE     int64             0            2334
SIGLA         object             0            2334
HIERARQUIA    object             0              30
NOME          object             0            2299
AMBIENTE_T    object             0              10
SUB_AMBIEN    object             0              29
SIGLA_PAI     object             0             381
NOME_PAI      object             0             381
LEGENDA       object             0            2096
ESCALA        object             0               1
MAPA          object             0              45
LITOTIPOS     object             0            1637
RANGE         object             0             112
IDADE_MIN      int64             0              43
IDADE_MAX      int64             0              44
EON_MIN       object             0               3
EON_MAX       object             0               3
ERA_MIN       object             0               9
ERA_MAX       object             0              10
SISTEMA_MI    object             0              22
SISTEMA_MA    object             0              22
EPOCA_MIN     object             0              16
EPOCA_MAX     object             0              16
SIGLAS_HIS    object             0            1104
SHAPE_AREA   float64             0           46705
SHAPE_LEN    float64             0           46705
geometry    geometry             0           46705

### Here we can define a function to execute this operation for any layer

In [10]:
def metadataframe(GeoDataFrame):
    meta_lito = pd.DataFrame(GeoDataFrame.dtypes)               # Describe the dtype of each column from the DataFrame or, better saying, GeoDataFrame;
    meta_lito['Valores null'] = GeoDataFrame.isnull().sum()     # Describe the sum of each null value from our object
    meta_lito['Valores unicos'] = GeoDataFrame.nunique()        # Describe the number of unique values from our object, that is a GeoDataFrame
    meta_lito = meta_lito.rename(columns = {0 : 'dType'})       # Rename the first column to 'dtype', the name of the function we used.
    return meta_lito

In [11]:
from sources.descricao import metadataframe   # The above function was inserted inside the /sources/descricao.py file;
                                              # So we can import the funcion with this command wennerver we need it

In [12]:
#metadataframe(litologia_250k)
#metadataframe(litologia_100k)
#metadataframe(litologia_50k)

### We can observe and analyse by the same means our aerogeophysical metadata.

In [13]:
metadataframe(proj_geof)       # WE CONCLUDE BY OBSERVING THIS DATAFRAME THAT THE 'TITULO' COLUMN EATHER HAS AN DUPLICATED VALUE
                               # BECAUSE WE HAVE 296 GEOMETRIES AND 295 DIFERENT TITLES

               dType  Valores null  Valores unicos
ID_PROJETO     int64             0             296
TITULO        object             0             295
METODOS       object             0              15
ALTURA_VOO    object            31              21
AREA_LEVAN    object             0             264
QUILOMETRA    object            94             199
DIRECAO_LV    object             0              32
DIRECAO_LC    object             0              34
ESPACAMENT    object             0              27
ESPACAME_1    object             4              31
ID_SERIE       int64             0               4
SERIE         object             0               4
DISPONIBIL    object           181               1
IMAGENS       object           181             115
SHAPE_AREA   float64             0             290
SHAPE_LEN    float64             0             281
geometry    geometry             0             296

## Com os dados disponiveis na RAM podemos utilizar funçoes do built-in do Python ou funçoes disponibilizadas atravez das bibliotecas podemos produzir informaçoes importantes sobre o nosso dado.

#### Como por exemplo, calcular area de cobertura do dado.

In [14]:
area_lito_1kk = litologia_1kk[:].area.sum()
print(area_lito_1kk)

# We can observe that the calculation of the area should be done with a cartesian coordinate reference system instead of geographic for more accurate results
# Although, our coverage area is not inside only one UTM Zone, so we need to create a system to convert each geometry to it's correspodent Zone.

699.2119915387831

/tmp/ipykernel_200096/3710234299.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  area_lito_1kk = litologia_1kk[:].area.sum()

In [15]:
litologia_1kk['SHAPE_AREA'].sum() # We can observe that the area of the polygons have already been calculated and is stored at 'SHAPE_AREA' column

699.2119915384314

In [16]:
print(litologia_1kk['SHAPE_AREA'].sum() - area_lito_1kk) # The result is the difference between the Area calculated by the CRPM and the area calculated by the GeoPandas Function

-3.516333890729584e-10

In [17]:
# SELECTING AEROGEOPHYSICAL PROJECTS BY ITS FLIGHT LINE SPACEMENT [RESOLUTION]
proj_geof_500m = proj_geof[proj_geof['ESPACAMENT'] == '500']
proj_geof_1000m = proj_geof[proj_geof['ESPACAMENT'] == '1000']

In [18]:
print(f" The total coverage area of projects with 500 m resolution: {proj_geof_500m['SHAPE_AREA'].sum()}")
print(f" The total coverage area of projects with 1000 m resolution: {proj_geof_1000m['SHAPE_AREA'].sum()}")

 The total coverage area of projects with 500 m resolution: 325.81878046663854
 The total coverage area of projects with 1000 m resolution: 100.8120406558254

In [19]:
print(f" The total coverage area of projects with 500 m resolution: {proj_geof_500m[:].area.sum()}")

print(f" The total coverage area of projects with 1000 m resolution: {proj_geof_1000m[:].area.sum()}")

 The total coverage area of projects with 500 m resolution: 325.81878041879565
 The total coverage area of projects with 1000 m resolution: 100.81204065019355

/tmp/ipykernel_200096/1195854347.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  print(f" The total coverage area of projects with 500 m resolution: {proj_geof_500m[:].area.sum()}")
/tmp/ipykernel_200096/1195854347.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  print(f" The total coverage area of projects with 1000 m resolution: {proj_geof_1000m[:].area.sum()}")

In [20]:
print(f"Percentage of aerogeophysical data coverage of the continental area with 500m resolution: {(proj_geof_500m['SHAPE_AREA'].sum()  / litologia_1kk['SHAPE_AREA'].sum()) * 100} %")
print(f"Percentage of aerogeophysical data coverage of the continental area with 1000m resolution: {(proj_geof_1000m['SHAPE_AREA'].sum() / litologia_1kk['SHAPE_AREA'].sum()) * 100} %")

Percentage of aerogeophysical data coverage of the continental area with 500m resolution: 46.597996660463494 %
Percentage of aerogeophysical data coverage of the continental area with 1000m resolution: 14.417950761115398 %

### Listando atributos geologicos das geometrias importadas.

In [21]:
# Abrindo os vetores litológicos de um unico mapa utilizando a função definida acima
#varginha_100k = importar_geometrias('litologia_100k','Varginha - UFRJ')
#varginha_100k.head(5)

In [22]:
# com estas funçoes utilizadas asssimas, podemos definir uma funçao que descreve o nosso dado vetorial
def describe_geologico(gdf):
    lista_colunas = list(gdf.columns)
    lista_litotipos = list(gdf.LITOTIPOS.unique())
    lista_legenda = list(gdf.LEGENDA.unique())

    dic_litologico = {'lista_colunas': lista_colunas,
                      'lista_litotipos': lista_litotipos,
                      'lista_legenda': lista_legenda}
    return dic_litologico

In [23]:
dic_litoligico = describe_geologico(litologia_1kk)

### Reconhecendo as litologia mapeadas em suas escalas
- Faremos um filtro na coluna LEGENDA e LITOTIOPOS para selecionar as classes de interesse e, com estas geometrias, selecionaremos os mapas que as contém.
- Assim podemos identificar quais cartas geológicas e suas escalas podemos trabalhar.

In [27]:
def filtro(gdf,mineral):
    filtrado = gdf[gdf['LITOTIPOS'].str.contains(mineral)]
    if filtrado.empty:
        print(f"{list(gdf['LITOTIPOS'].unique())}")
    else:
        return filtrado

In [28]:
litologia_grafitosa_1kk = filtro(litologia_1kk,'graf')

In [29]:
litotipos_vazio = litologia_1kk[litologia_1kk.LITOTIPOS.isna()]
litotipos_vazio.LITOTIPOS

Series([], Name: LITOTIPOS, dtype: object)

In [30]:
#Foi necessário inserir a str 'Vazio' em celas que não continham valores para que a função de filtro funcionasse corretamente na coluna LEGENDA.

litologia_1kk.fillna('Vazio',inplace=True)
litologia_250k.fillna('Vazio',inplace=True)
litologia_100k.fillna('Vazio',inplace=True)
litologia_50k.fillna('Vazio',inplace=True)

In [31]:
litologia_1kk.to_file(gdb+'geodatabase.gpkg',
              driver='GPKG',
              layer='litologia_1kk')

litologia_250k.to_file(gdb+'geodatabase.gpkg',
              driver='GPKG',
              layer='litologia_250k')

litologia_100k.to_file(gdb+'geodatabase.gpkg',
              driver='GPKG',
              layer='litologia_100k')

litologia_50k.to_file(gdb+'geodatabase.gpkg',
              driver='GPKG',
              layer='litologia_50k')

In [32]:
Grafita_xistos_1kk = filtro(litologia_1kk,'Graf')
list(Grafita_xistos_1kk['LITOTIPOS'].unique())

['Anfibolito, Grafita xisto, Metapelito, Quartzito',
 'Formação ferrífera bandada, Grafita xisto, Metachert, Rocha metassedimentar, Rocha metavulcânica ultramáfica, Serpentinito',
 'Biotita-anfibólio xisto, Biotita-quartzo xisto, Filito, Grafita xisto, Mármore calcítico, Mármore dolomítico, Metatufo, Quartzo-mica xisto, Rocha calcissilicática, Xisto carbonático',
 'Clorita xisto, Grafita xisto, Hornblenda gnaisse, Metacalcário, Muscovita quartzito, Muscovita-biotita xisto, Quartzito ferruginoso, Talco xisto',
 'Clorita xisto, Grafita xisto, Metachert, Metadacito, Metatufo, Xisto',
 'Biotita gnaisse, Gnaisse, Gondito, Grafita xisto, Granada gnaisse, Kinzigito, Mármore, Muscovita quartzito, Quartzito, Rocha calcissilicática, Sericita xisto, Xisto',
 'Grafita xisto, Metachert, Muscovita quartzito, Quartzito ferruginoso, Xisto, Xisto aluminoso',
 'Clorita xisto, Cloritito, Formação ferrífera bandada, Grafita xisto, Muscovita-biotita xisto, Piroxenito, Serpentinito, Talco xisto, Xisto magnesiano',
 'Biotita xisto, Biotita-muscovita-quartzo xisto, Grafita xisto, Granada-biotita-muscovita-quartzo xisto, Granada-clorita xisto, Mármore, Metaconglomerado suportado por clastos, Metapsamito, Metarcóseo, Quartzito ferruginoso',
 'Filito, Grafita xisto, Quartzo-mica xisto',
 'Ardósia, Filito, Grafita xisto, Metarenito, Metargilito, Metassiltito, Mica xisto, Sericita xisto, Xisto',
 'Biotita gnaisse, Clorita xisto, Grafita xisto, Metaconglomerado, Metapelito, Metarritmito, Mica xisto, Paragnaisse, Turmalinito',
 'Biotita gnaisse, Biotita xisto, Grafita xisto, Mármore, Muscovita-biotita xisto, Rocha calcissilicática, Talco xisto',
 'Grafita xisto, Metadiamictito, Metapelito, Quartzito ferruginoso',
 'Formação ferrífera bandada, Grafita xisto, Mármore, Metakomatiíto, Metamáfica, Quartzito ferruginoso, Rocha calcissilicática, Xisto',
 'Formação ferrífera bandada, Grafita xisto, Kinzigito, Metamáfica, Paragnaisse, Rocha calcissilicática, Rocha metaultramáfica',
 'Grafita xisto, Metabasito, Metachert',
 'Formação ferrífera bandada, Grafita xisto, Mármore, Metabasalto, Metachert, Metagabro, Metakomatiíto, Mica xisto, Rocha calcissilicática',
 'Formação ferrífera bandada, Grafita xisto, Metabasalto, Metachert',
 'Grafita xisto, Metabasalto, Metachert, Metamáfica, Metatufo, Muscovita quartzito, Muscovita-biotita xisto, Rocha metaultramáfica, Sericita xisto, Turmalinito',
 'Grafita xisto, Metadiamictito, Quartzo xisto, Rocha calcissilicática',
 'Biotita xisto, Formação ferrífera bandada, Gnaisse, Grafita xisto, Mármore, Metagrauvaca, Metamáfica, Metamarga, Metavulcanoclástica, Mica xisto, Ortoanfibolito, Paragnaisse, Rocha calcissilicática, Rocha metaultramáfica',
 'Anfibolito, Clorita xisto, Grafita xisto, Granada-biotita xisto, Paragnaisse, Quartzito micáceo, Talco xisto, Turmalinito',
 'Grafita xisto, Xisto aluminoso, Xisto carbonático',
 'Biotita gnaisse, Grafita xisto, Metachert, Metarriolito, Metatufo, Xisto, Xisto aluminoso, Xisto carbonático',
 'Grafita xisto',
 'Chert, Clorita xisto, Grafita xisto, Metaconglomerado, Metatufo, Xisto',
 'Dolomito, Filito, Formação ferrífera bandada, Grafita xisto, Metachert, Quartzo xisto, Xisto',
 'Formação ferrífera bandada, Grafita xisto, Metachert, Sericita xisto']

#### Desafio desnecessário para provar meus conhecimentos com for loops:

In [34]:
#list_gr_100k = mapas_lito_gr_100k

indice=0
for i in mapas_lito_gr_100k:
    print(i)
    list_gr_100k[indice] = l_100k[l_100k['MAPA'].str.contains("i")]
    indice+=1

NameError: name 'mapas_lito_gr_100k' is not defined

In [ ]:
len(list_gr_100k)

In [ ]:
lista_mapa = list(litologia_1kk.MAPA.unique())
print(len(lista_mapa))
lista_nome=[]

for mapa in lista_mapa:
    trash=0
    Mapa=[]
    for letra in mapa:
        if trash<25:
            trash+=1
        else:
            Mapa+=letra
    lista_nome += [''.join(Mapa)]

In [ ]:
lista_nome

In [ ]:
folha=lista_nome
indice=0
for i in lista_nome:
    print(i)
    folha[indice] = litologia_1kk[litologia_1kk['MAPA'].str.contains(i)].dissolve('MAPA')
    indice+=1

In [ ]:
folha[31].plot()

In [ ]:
lista_mapa = list(litologia_100k.MAPA.unique())
lista_mapa

In [ ]:
lista_nome=[]
for mapa in lista_mapa:
    trash=0
    Mapa=[]
    for letra in mapa:
        if trash<25:
            trash+=1
        else:
            Mapa+=letra
    lista_nome += [''.join(Mapa)]

In [ ]:
len(lista_nome)

In [ ]:
folha=lista_nome
indice=0
for i in lista_nome:
    print(i)
    folha[indice] = l_100k[l_100k['MAPA'].str.contains(i)].dissolve('MAPA')
    indice+=1

In [ ]:
len(folha)