In [1]:
import geopandas as gpd
import matplotlib.pyplot as plt

%matplotlib widget

In [2]:
from sources.importar import geometrias
from sources.descricao import metadataframe, describe_geologico
from sources.filtros import filtro

In [69]:
litologia_1kk = geometrias('litologia_1kk')

In [68]:
litologia_250k = geometrias('litologia_250k')
litologia_100k = geometrias('litologia_100k')
litologia_50k = geometrias('litologia_50k')

In [4]:
metadataframe(litologia_1kk)

               dType  Valores null  Valores unicos
ID_UNIDADE     int64             0            2334
SIGLA         object             0            2334
HIERARQUIA    object             0              30
NOME          object             0            2299
AMBIENTE_T    object         30843               9
SUB_AMBIEN    object         37895              28
SIGLA_PAI     object         31035             380
NOME_PAI      object         31035             380
LEGENDA       object            13            2095
ESCALA        object             0               1
MAPA          object             0              45
LITOTIPOS     object             0            1637
RANGE         object             0             112
IDADE_MIN      int64             0              43
IDADE_MAX      int64             0              44
EON_MIN       object             0               3
EON_MAX       object             0               3
ERA_MIN       object             0               9
ERA_MAX       object             0              10
SISTEMA_MI    object          1943              21
SISTEMA_MA    object          2534              21
EPOCA_MIN     object          1943              15
EPOCA_MAX     object          2534              15
SIGLAS_HIS    object         18820            1103
SHAPE_AREA   float64             0           46705
SHAPE_LEN    float64             0           46705
geometry    geometry             0           46705

In [88]:
grafita_xistos_1kk = filtro(litologia_1kk,'Grafita xisto')
#litologia_grafitica_1kk = filtro(litologia_1kk,'graf')

In [61]:
dic_list_litotipos_legenda = describe_geologico(grafita_xistos_1kk)

In [89]:
dic_list_litotipos_legenda['lista_litotipos']

['Anfibolito, Grafita xisto, Metapelito, Quartzito',
 'Formação ferrífera bandada, Grafita xisto, Metachert, Rocha metassedimentar, Rocha metavulcânica ultramáfica, Serpentinito',
 'Biotita-anfibólio xisto, Biotita-quartzo xisto, Filito, Grafita xisto, Mármore calcítico, Mármore dolomítico, Metatufo, Quartzo-mica xisto, Rocha calcissilicática, Xisto carbonático',
 'Clorita xisto, Grafita xisto, Hornblenda gnaisse, Metacalcário, Muscovita quartzito, Muscovita-biotita xisto, Quartzito ferruginoso, Talco xisto',
 'Clorita xisto, Grafita xisto, Metachert, Metadacito, Metatufo, Xisto',
 'Biotita gnaisse, Gnaisse, Gondito, Grafita xisto, Granada gnaisse, Kinzigito, Mármore, Muscovita quartzito, Quartzito, Rocha calcissilicática, Sericita xisto, Xisto',
 'Grafita xisto, Metachert, Muscovita quartzito, Quartzito ferruginoso, Xisto, Xisto aluminoso',
 'Clorita xisto, Cloritito, Formação ferrífera bandada, Grafita xisto, Muscovita-biotita xisto, Piroxenito, Serpentinito, Talco xisto, Xisto magnesiano',
 'Biotita xisto, Biotita-muscovita-quartzo xisto, Grafita xisto, Granada-biotita-muscovita-quartzo xisto, Granada-clorita xisto, Mármore, Metaconglomerado suportado por clastos, Metapsamito, Metarcóseo, Quartzito ferruginoso',
 'Filito, Grafita xisto, Quartzo-mica xisto',
 'Ardósia, Filito, Grafita xisto, Metarenito, Metargilito, Metassiltito, Mica xisto, Sericita xisto, Xisto',
 'Biotita gnaisse, Clorita xisto, Grafita xisto, Metaconglomerado, Metapelito, Metarritmito, Mica xisto, Paragnaisse, Turmalinito',
 'Biotita gnaisse, Biotita xisto, Grafita xisto, Mármore, Muscovita-biotita xisto, Rocha calcissilicática, Talco xisto',
 'Grafita xisto, Metadiamictito, Metapelito, Quartzito ferruginoso',
 'Formação ferrífera bandada, Grafita xisto, Mármore, Metakomatiíto, Metamáfica, Quartzito ferruginoso, Rocha calcissilicática, Xisto',
 'Formação ferrífera bandada, Grafita xisto, Kinzigito, Metamáfica, Paragnaisse, Rocha calcissilicática, Rocha metaultramáfica',
 'Grafita xisto, Metabasito, Metachert',
 'Formação ferrífera bandada, Grafita xisto, Mármore, Metabasalto, Metachert, Metagabro, Metakomatiíto, Mica xisto, Rocha calcissilicática',
 'Formação ferrífera bandada, Grafita xisto, Metabasalto, Metachert',
 'Grafita xisto, Metabasalto, Metachert, Metamáfica, Metatufo, Muscovita quartzito, Muscovita-biotita xisto, Rocha metaultramáfica, Sericita xisto, Turmalinito',
 'Grafita xisto, Metadiamictito, Quartzo xisto, Rocha calcissilicática',
 'Biotita xisto, Formação ferrífera bandada, Gnaisse, Grafita xisto, Mármore, Metagrauvaca, Metamáfica, Metamarga, Metavulcanoclástica, Mica xisto, Ortoanfibolito, Paragnaisse, Rocha calcissilicática, Rocha metaultramáfica',
 'Anfibolito, Clorita xisto, Grafita xisto, Granada-biotita xisto, Paragnaisse, Quartzito micáceo, Talco xisto, Turmalinito',
 'Grafita xisto, Xisto aluminoso, Xisto carbonático',
 'Biotita gnaisse, Grafita xisto, Metachert, Metarriolito, Metatufo, Xisto, Xisto aluminoso, Xisto carbonático',
 'Grafita xisto',
 'Chert, Clorita xisto, Grafita xisto, Metaconglomerado, Metatufo, Xisto',
 'Dolomito, Filito, Formação ferrífera bandada, Grafita xisto, Metachert, Quartzo xisto, Xisto',
 'Formação ferrífera bandada, Grafita xisto, Metachert, Sericita xisto']

In [104]:
ax = litologia_1kk.plot('HIERARQUIA')

grafita_xistos_1kk.plot(color='Red',ax=ax,legend=True, \
                legend_kwds={'loc' : 'center left', 'bbox_to_anchor':(1,0.5)})

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

## THE PLOTTING TECHNIQUES WITH PYTHON LIBRARIES ARE NOT FULLY UNDERSTOOD TO PRODUCE MAPS WITH CARTOGRAPHIC RIGOR, HENCE THE PRODUCTION OF MAPS WILL BE EXECUTED WITH QGIS

### To do so, we have to export layers that we produced to our local machine with GeoDataFrame.to_file('PATH') function.