In [1]:
import pandas as pd
from sources.importar import geometrias                         # ARQUIVO COM DEFINICOES DE FUNCOES ESCRITAS EM
                                                             # PYTHON PARA FACILITAR OS PROCESSOS DE PLOTS E LEITURA DOS DADOS...
                                                             # E NO FUTURO GERAR UM SCRIPT DE ENCADEAMENTO DESTAS FUNÇOES.

from sources.descricao import descricao

gdb = '/home/ggrl/geodatabase/'

# Levantamento 1105

### Recuperando os dados selecionados do XYZ para serem analizados

In [2]:
gama_line_1105 = geometrias(geofisico='gama_line_1105')
#gama_tie_1105 = geometrias(geofisico='gama_tie_1105')
gama_1105 = geometrias(geofisico='gama_1105')

In [3]:
gama_line_1105.info()
#gama_tie_1105.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1169659 entries, 0 to 1169658
Data columns (total 12 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   KPERC      1169659 non-null  float64
 1   eU         1169659 non-null  float64
 2   eTH        1169659 non-null  float64
 3   UTHRAZAO   1169659 non-null  float64
 4   X          1169659 non-null  float64
 5   Y          1169659 non-null  float64
 6   UKRAZAO    1169659 non-null  float64
 7   MDT        1169659 non-null  float64
 8   THKRAZAO   1169659 non-null  float64
 9   CTCOR      1169659 non-null  float64
 10  LATITUDE   1169659 non-null  float64
 11  LONGITUDE  1169659 non-null  float64
dtypes: float64(12)
memory usage: 107.1 MB

## Dados Gamaespectrometricos

### Definindo funçoes que listam os dados brutos e descreve suas distribuiçoes estatisticas

In [4]:
def list_columns(geof):
    print('Listando atributos dos dados geofisicos')
    atributos_geof = list(geof.columns)             # DataFrame.columns
    lista_atributo_geof=[]
    lista_atributo_geog=[]
    lista_atributo_proj=[]

    for atributo in atributos_geof:
        if atributo == 'LATITUDE':
            lista_atributo_geog.append(atributo)
        elif atributo == 'LONGITUDE':
            lista_atributo_geog.append(atributo)
        elif atributo == 'LONG':
            lista_atributo_geog.append(atributo)
        elif atributo == 'LAT':
            lista_atributo_geog.append(atributo) 
        elif atributo == 'X':
            lista_atributo_proj.append(atributo)
        elif atributo == 'Y':
            lista_atributo_proj.append(atributo)
        elif atributo == 'UTME':
            lista_atributo_proj.append(atributo)
        elif atributo == 'UTMN':
            lista_atributo_proj.append(atributo)
        else:
            lista_atributo_geof.append(atributo)
    codigo=str(geof)        
    print(f"# --- # Listagem de dados do aerolevantamento:  ")
    print(f"Lista de atributos geofísicos = {lista_atributo_geof}")
    print(f"lista de atributos geograficos = {lista_atributo_geog}")
    print(f"lista de atributos projetados = {lista_atributo_proj}")
    return lista_atributo_geof, lista_atributo_geog, lista_atributo_proj

In [5]:
# DESCRIÇÃO ESTATISTICA DOS DADOS AEROGEOFÍSICOS
def descricao(geof):
    lista_atributo_geof,lista_atributo_geog,lista_atributo_proj = list_columns(geof)  # USANDO FUNCAO DEFINIDA ACIMA PARA CATEGORIZAR METADADO
    
    
    metadatadict = pd.DataFrame(geof.dtypes)
    metadatadict["Valores Faltantes"] = geof.isnull().sum()
    metadatadict["Valores Únicos"] = geof.nunique()
    metadatadict["Valoes Negativos"] = sum(n < 0 for n in geof.values)
    metadatadict["Amostragem"] = geof.count()
    metadatadict = metadatadict.rename(columns = {0 : 'dType'})

    geof_df = geof.drop(axis=0,columns=lista_atributo_geog)
    geof_df.drop(axis=0,columns=lista_atributo_proj,inplace=True)

    #datadict['Valores Negativos'] = lista_negativo

    geof_descrito = geof_df.describe(percentiles=[0.001,0.1,0.25,0.5,0.75,0.995])
    
    return metadatadict,lista_atributo_geof,lista_atributo_geog,lista_atributo_proj,geof_descrito

### Descriçao estatistica dos dados brutos

In [6]:
describe_gama_line_1105 = descricao(gama_line_1105)

Listando atributos dos dados geofisicos
# --- # Listagem de dados do aerolevantamento:
Lista de atributos geofísicos = ['KPERC', 'eU', 'eTH', 'UTHRAZAO', 'UKRAZAO', 'MDT', 'THKRAZAO', 'CTCOR']
lista de atributos geograficos = ['LATITUDE', 'LONGITUDE']
lista de atributos projetados = ['X', 'Y']

In [7]:
describe_gama_1105 = descricao(gama_1105)

Listando atributos dos dados geofisicos
# --- # Listagem de dados do aerolevantamento:
Lista de atributos geofísicos = ['KPERC', 'eU', 'eTH', 'UTHRAZAO', 'UKRAZAO', 'MDT', 'THKRAZAO', 'CTCOR']
lista de atributos geograficos = ['LATITUDE', 'LONGITUDE']
lista de atributos projetados = ['X', 'Y']

In [8]:
describe_gama_line_1105[0]

,dType,Valores Faltantes,Valores Únicos,Valoes Negativos,Amostragem
KPERC,float64,0,6955,47711,1169659
eU,float64,0,8168,55720,1169659
eTH,float64,0,61336,35862,1169659
UTHRAZAO,float64,0,793,0,1169659
X,float64,0,888292,0,1169659
Y,float64,0,1134332,0,1169659
UKRAZAO,float64,0,18813,0,1169659
MDT,float64,0,165213,72,1169659
THKRAZAO,float64,0,115015,0,1169659
CTCOR,float64,0,56613,12033,1169659
LATITUDE,float64,0,851263,1169659,1169659
LONGITUDE,float64,0,728161,1169659,1169659

In [9]:
describe_gama_1105[0]

,dType,Valores Faltantes,Valores Únicos,Valoes Negativos,Amostragem
KPERC,float64,0,7305,49199,1242654
eU,float64,0,8616,56179,1242654
eTH,float64,0,62948,35876,1242654
UTHRAZAO,float64,0,1690,0,1242654
X,float64,0,958978,0,1242654
Y,float64,0,1185116,0,1242654
UKRAZAO,float64,0,26204,0,1242654
MDT,float64,0,167518,72,1242654
THKRAZAO,float64,0,118446,0,1242654
CTCOR,float64,0,57163,12036,1242654
LATITUDE,float64,0,872260,1242654,1242654
LONGITUDE,float64,0,775641,1242654,1242654

In [10]:
describe_gama_line_1105[4].T

,count,mean,std,min,0.1%,10%,25%,50%,75%,99.5%,max
KPERC,1169659.0,0.959790,0.854709,-0.500,-0.355,0.085,0.382,0.757,1.306,4.53000,14.577
eU,1169659.0,1.736779,1.092923,-0.500,-0.381,0.325,1.008,1.673,2.373,5.38300,23.934
eTH,1169659.0,19.289047,11.065808,-4.048,-0.722,6.860,12.290,18.382,25.207,59.15600,241.474
UTHRAZAO,1169659.0,0.097126,0.042352,0.000,0.000,0.056,0.073,0.090,0.111,0.27900,2.669
UKRAZAO,1169659.0,2.716171,2.416952,0.042,0.181,0.819,1.300,1.911,3.302,14.90200,59.007
MDT,1169659.0,872.675007,408.562445,-4.100,0.000,395.280,641.520,887.680,1113.550,1933.61130,2751.590
THKRAZAO,1169659.0,29.505581,25.788561,0.798,3.123,10.004,14.793,20.741,34.791,162.71671,525.859
CTCOR,1169659.0,14.176621,10.738090,-11.575,-1.641,3.814,6.608,11.263,19.699,56.54200,246.600

In [11]:
describe_gama_1105[4].T

,count,mean,std,min,0.1%,10%,25%,50%,75%,99.5%,max
KPERC,1242654.0,0.987719,0.886003,-0.500,-0.360347,0.098,0.391,0.772,1.340,4.683735,14.577
eU,1242654.0,1.767042,1.110133,-4.185,-0.385000,0.361,1.030,1.695,2.403,5.554000,23.934
eTH,1242654.0,19.572149,11.233453,-4.048,-0.708000,7.124,12.434,18.563,25.511,60.437470,263.870
UTHRAZAO,1242654.0,0.112080,0.091533,0.000,0.000000,0.057,0.074,0.092,0.117,0.617000,11.320
UKRAZAO,1242654.0,3.098546,3.907767,0.042,0.184000,0.841,1.339,2.009,3.560,23.369205,258.218
MDT,1242654.0,878.317748,406.063617,-4.100,0.000000,411.233,648.780,889.940,1118.090,1936.722050,2751.590
THKRAZAO,1242654.0,29.528213,26.370086,0.734,2.813653,9.766,14.540,20.622,34.781,166.151735,566.393
CTCOR,1242654.0,14.466779,10.728161,-11.575,-1.606000,3.949,6.793,11.730,20.080,56.357735,246.600

### Manipulaçao algebrica dos dados brutos

In [12]:
# Estes valores negativos serao retirados durante o script de interpolacao
#print(gama_tie_1105.query('KPERC < 0')['KPERC'].count())
print(gama_line_1105.query('KPERC < 0')['KPERC'].count())
print(gama_1105.query('KPERC < 0')['KPERC'].count())

47711
49199

In [13]:
#gama_1105.to_csv(gdb+'geof/gama_1105',index=False)
#gama_tie_1105.to_csv(gdb+'geof/gama_tie_1105',index=False)
gama_line_1105.to_csv(gdb+'geof/gama_line_1105_corrigido',index=False)

## Dados Magnetometricos

### Descriçao estatistica dos dados brutos

#### Flight Lines

In [ ]:
# PODEMOS OBSERVAR VALORES NEGATIVOS QUE DEVEM SER TRATADOS. OU TRANSFORMANDO-OS EM 0 OU NORMALIZANDO DE 0 `A 1
gama_line_1105_describe[4].T

#### Tie Lines

In [ ]:
gama_tie_1105_describe = f.descricao(gama_tie_1105)

In [ ]:
gama_tie_1105_describe[0]

In [ ]:
# ha uma deferenca consideravel entre os dados de tie e line para este levantamento
gama_tie_1105_describe[4].T

#### Tie Flight Lines Concatenados

In [ ]:
gama_1105_describe =f.descricao(gama_1105)

In [ ]:
gama_1105_describe[0]

In [ ]:
gama_1105_describe[4].T

In [ ]:
print(gama_tie_1105.query('KPERC < 0')['KPERC'].count())
print(gama_line_1105.query('KPERC < 0')['KPERC'].count())
print(gama_1105.query('KPERC < 0')['KPERC'].count())

### Exportando os arquivos tratados para um CSV

In [ ]:
gama_1105.to_csv(gdb+'geof/gama_1105',index=False)
gama_tie_1105.to_csv(gdb+'geof/gama_tie_1105',index=False)
gama_line_1105.to_csv(gdb+'geof/gama_line_1105',index=False)

In [ ]:
mag_line_1105 = pd.read_csv(gdb+'xyz/1105_XYZ/1105_MagLine.XYZ',
                         names=mag_cols,
                         delim_whitespace=True,
                         skiprows=11,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "MAGIGRF","MDT","ALTURA","ALTURA_1"])

mag_tie_1105 = pd.read_csv(gdb+'xyz/1105_XYZ/1105_MagTie.XYZ',
                         names=mag_cols,
                         delim_whitespace=True,
                         skiprows=11,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "MAGIGRF","MDT","ALTURA","ALTURA_1"])


mag_tie_1105.dropna(inplace=True)
mag_line_1105.dropna(inplace=True)
mag_1105 = pd.concat([mag_line_1105,mag_tie_1105], ignore_index=True)

In [ ]:
f.descricao(mag_1105)

In [ ]:
mag_line_1105.to_csv(gdb+'geof/mag_line_1105', index=False)
mag_tie_1105.to_csv(gdb+'geof/mag_tie_1105', index=False)
mag_1105.to_csv(gdb+'geof/mag_1105', index=False)

In [ ]:
cols_1039 = 'UTME UTMN LONG LAT MAGR THC UC KC CTC MAGB MAGC MAGD THB UB KB CTB FIDU TEMP ALTE ALTB'.split(" ")

usecols=["UTME","UTMN","LAT","LONG","KC","UC","THC","CTC","MAGR"]


geof_1039 = pd.read_csv(gdb+'xyz/1039_XYZ/spaulo_rjaneiro_sp.xyz',
                         names=cols_1039,
                         delim_whitespace=True,
                         skiprows=6,
                         usecols=usecols,
                         encoding='latin-1') # foi adicionado um novo tipo de econding diferente de UTF-8

In [ ]:
geof_1039.dropna(inplace=True)

In [ ]:
geof_1039.to_csv(gdb+'geof/geof_1039',index=False)

### Exportando os arquivos tratados para um CSV

# Levantamento 1089

In [ ]:
gama_line_1089
gama_tie_1089 
gama_1089

In [ ]:
gama_1089.dropna(inplace=True)

In [ ]:
gama_1089

In [ ]:
gama_line_1089.dropna(inplace=True)

In [ ]:
f.descricao(gama_line_1089)

In [ ]:
gama_1089.head()

In [ ]:
#gama_1089.to_csv(gdb+'geof/gama_1089',index=False)
gama_line_1089.to_csv(gdb+'geof/gama_line_1089',index=False)

In [ ]:
mLine_1089 = pd.read_csv(gdb+'xyz/1089_XYZ/XYZ/1089_MagLine.XYZ',
                         names=mag_cols,
                         delim_whitespace=True,
                         skiprows=11,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "MAGIGRF","ALTURA","MDT"],
                         na_values=('*'))

In [ ]:
mTie_1089 = pd.read_csv(gdb+'xyz/1089_XYZ/XYZ/1089_MagTie.XYZ',
                         names=mag_cols,
                         delim_whitespace=True,
                         skiprows=11,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "MAGIGRF","ALTURA","MDT"],
                         na_values=('*'))

In [ ]:
m_1089 = pd.concat([mTie_1089,mLine_1089], ignore_index=True)

In [ ]:
mag_1089 = m_1089.dropna()

In [ ]:
mag_1089.to_csv(gdb+'geof/mag_1089',index=False)

In [ ]:
a = f.descricao(mag_1089)

In [ ]:
a[0]

In [ ]:
a[4].T