In [1]:
import matplotlib.pyplot as plt 
import seaborn as sns

from scripts.interpolaçao import interpolar
from scripts.get_region import get_region
#from sources.filtros import filtro

plt.rcParams['figure.dpi'] = 120
%matplotlib widget

In [3]:
dic_cartas, dic_raw_meta = get_region('50k','SF23_Y_A_III_4','gama_line_1105','litologia_1kk')

# -- Lendo dados aerogeofisicos

TRACK ERROR !

/home/ggrl/anaconda3/envs/geologist_bot/lib/python3.8/site-packages/geopandas/geodataframe.py:1322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)

TRACK ERROR !!

# -- Selecionando Folhas Cartograficas
# --- Iniciando seleção de área de estudo
EPSG:32723

1 folha cartográfica selecionada
Listando atributos dos dados geofisicos

100%|██████████| 12/12 [00:00<00:00, 364722.09it/s]

# --- # Listagem de dados do aerolevantamento:
Lista de atributos geofísicos = ['KPERC', 'eU', 'eTH', 'UTHRAZAO', 'UKRAZAO', 'MDT', 'THKRAZAO', 'CTCOR']
lista de atributos geograficos = ['LATITUDE', 'LONGITUDE']
lista de atributos projetados = ['X', 'Y']

# -- Contruindo dicionario de metadados

# --- Início da iteração entre as folhas cartográficas #

0it [00:00, ?it/s]

SF23_Y_A_III_4 geometry       POLYGON ((319661.7072951732 7538458.080604897,...
region                            (-46.75, -46.5, -22.5, -22.25)
region_proj    (319661.7072951732, 345704.81387977325, 751077...
Name: SF23_Y_A_III_4, dtype: object
# Folha de código: SF23_Y_A_III_4
 Atualizando dados brutos em dic_cartas['raw_data']
 com 18824 pontos de amostragem
epsg:32723

1it [00:16, 16.16s/it]

 Atualizando dados geologicos em dic_cartas['litologia']
 com 31 poligonos descritos por                         27 atributos geologicos

In [4]:
dic_raw_meta.keys()

dict_keys(['Metadata', 'Lista_at_geof', 'Lista_at_geog', 'Lista_at_proj', 'Percentiles', 'Malha_cartografica'])

In [5]:
dic_raw_meta['Malha_cartografica']

,geometry,region,region_proj
id_folha,,,
SF23_Y_A_III_4,"POLYGON ((319661.707 7538458.081, 345428.900 7...","(-46.75, -46.5, -22.5, -22.25)","(319661.7072951732, 345704.81387977325, 751077..."

In [6]:
dic_raw_meta['Malha_cartografica'].index[0]

'SF23_Y_A_III_4'

In [21]:
print(dic_raw_meta['Malha_cartografica'].crs)
ax = dic_raw_meta['Malha_cartografica'].boundary.plot(color='Black')
dic_cartas['litologia']['SF23_Y_A_III_4'].plot('SIGLA',ax=ax,
                legend=True,
                legend_kwds={'loc': 'center left', 'bbox_to_anchor':(1,0.5)})

EPSG:32723

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [22]:
print(dic_raw_meta['Lista_at_geof'])
dic_raw_meta['Metadata']

['KPERC', 'eU', 'eTH', 'UTHRAZAO', 'UKRAZAO', 'MDT', 'THKRAZAO', 'CTCOR']

,dType,Valores Faltantes,Valores Únicos,Valoes Negativos,Amostragem
KPERC,float64,0,6955,47711,1169659
eU,float64,0,8168,55720,1169659
eTH,float64,0,61336,35862,1169659
UTHRAZAO,float64,0,793,0,1169659
X,float64,0,888292,0,1169659
Y,float64,0,1134332,0,1169659
UKRAZAO,float64,0,18813,0,1169659
MDT,float64,0,165213,72,1169659
THKRAZAO,float64,0,115015,0,1169659
CTCOR,float64,0,56613,12033,1169659
LATITUDE,float64,0,851263,1169659,1169659
LONGITUDE,float64,0,728161,1169659,1169659

In [23]:
dic_raw_meta['Percentiles'].T

,count,mean,std,min,0.1%,10%,25%,50%,75%,99.5%,max
KPERC,1169659.0,0.959790,0.854709,-0.500,-0.355,0.085,0.382,0.757,1.306,4.53000,14.577
eU,1169659.0,1.736779,1.092923,-0.500,-0.381,0.325,1.008,1.673,2.373,5.38300,23.934
eTH,1169659.0,19.289047,11.065808,-4.048,-0.722,6.860,12.290,18.382,25.207,59.15600,241.474
UTHRAZAO,1169659.0,0.097126,0.042352,0.000,0.000,0.056,0.073,0.090,0.111,0.27900,2.669
UKRAZAO,1169659.0,2.716171,2.416952,0.042,0.181,0.819,1.300,1.911,3.302,14.90200,59.007
MDT,1169659.0,872.675007,408.562445,-4.100,0.000,395.280,641.520,887.680,1113.550,1933.61130,2751.590
THKRAZAO,1169659.0,29.505581,25.788561,0.798,3.123,10.004,14.793,20.741,34.791,162.71671,525.859
CTCOR,1169659.0,14.176621,10.738090,-11.575,-1.641,3.814,6.608,11.263,19.699,56.54200,246.600

In [24]:
#Levantamento 1105
dic_cartas,dic_raw_meta = interpolar(gama=True,dic_cartas=dic_cartas,dic_raw_meta=dic_raw_meta)

# Inicio dos processos de interpolação pelo método cúbico

0it [00:00, ?it/s]

# Folha de código: SF23_Y_A_III_4
 Retirando dados brutos em dic_cartas['raw_data']
 com 18824 pontos de contagens radiométricas coletados com linhas de voo de 500 metros

1it [00:02,  2.23s/it]

__________________________________________

Dicionário de cartas disponível

## Descriçao estatistica dos dados brutos

In [25]:
dic_cartas.keys()

dict_keys(['region', 'region_proj', 'raw_data', 'litologia', 'cubic'])

## DESCRIÇÃO DOS DADOS DA FOLHA SF23_Y_A_III_4

### DICIONARIO DE DADOS DISPONIVEIS
    - Regioes geograficas (W,E, S, N)
    - Regioes projetadas (W,E, S, N)
    - Dados Brutos
    - Dados Interpolados
    - Scores da Validacao Crusada para os dados interpolados
    - Dataframe com classes alvos (Unidades Litologicas)

In [26]:
for i in dic_cartas:
    print(i)

region
region_proj
raw_data
litologia
cubic

In [27]:
print(f"#  folhas cartograficas: {len(dic_cartas['region'])}")
print(f"ID folhas cartograficas: {list(dic_cartas['region'].keys())}")

#  folhas cartograficas: 1
ID folhas cartograficas: ['SF23_Y_A_III_4']

In [28]:
print(f"Dados interpolados pleo modelo de cubico: {list(dic_cartas['cubic']['SF23_Y_A_III_4'].keys())}")

Dados interpolados pleo modelo de cubico: ['X', 'Y', 'MDT', 'CTCOR', 'KPERC', 'eU', 'eTH', 'UTHRAZAO', 'UKRAZAO', 'THKRAZAO']

### CRIANDO DICIONARIO DE TITULOS PARA OS PLOTS

In [29]:
list_canal = dic_raw_meta['Lista_at_geof']
print(f"Lista de atributos: {list_canal}")

# LISTA DE TITULOS 
titles =   [
            'K (%)',
            'U (ppm)',
            'Th (ppm)',
            'U (ppm) / Th (ppm)',
            'U (ppm) / K (%)',
            'MDT (m)',
            'Th (ppm) / K (%)',
            'Contagem Total (μR/h)'
            ]


# DICIONARIO DE TITULOS
dic_titles = {}
for f, t in zip(list_canal, titles):
    dic_titles[f] = t

dic_titles

Lista de atributos: ['KPERC', 'eU', 'eTH', 'UTHRAZAO', 'UKRAZAO', 'MDT', 'THKRAZAO', 'CTCOR']

{'KPERC': 'K (%)',
 'eU': 'U (ppm)',
 'eTH': 'Th (ppm)',
 'UTHRAZAO': 'U (ppm) / Th (ppm)',
 'UKRAZAO': 'U (ppm) / K (%)',
 'MDT': 'MDT (m)',
 'THKRAZAO': 'Th (ppm) / K (%)',
 'CTCOR': 'Contagem Total (μR/h)'}

#### DISTRIBUICAO GEOSTATISTICA DOS DADOS BRUTOS

In [30]:
dic_raw_meta['Percentiles'].T

,count,mean,std,min,0.1%,10%,25%,50%,75%,99.5%,max
KPERC,1169659.0,0.959790,0.854709,-0.500,-0.355,0.085,0.382,0.757,1.306,4.53000,14.577
eU,1169659.0,1.736779,1.092923,-0.500,-0.381,0.325,1.008,1.673,2.373,5.38300,23.934
eTH,1169659.0,19.289047,11.065808,-4.048,-0.722,6.860,12.290,18.382,25.207,59.15600,241.474
UTHRAZAO,1169659.0,0.097126,0.042352,0.000,0.000,0.056,0.073,0.090,0.111,0.27900,2.669
UKRAZAO,1169659.0,2.716171,2.416952,0.042,0.181,0.819,1.300,1.911,3.302,14.90200,59.007
MDT,1169659.0,872.675007,408.562445,-4.100,0.000,395.280,641.520,887.680,1113.550,1933.61130,2751.590
THKRAZAO,1169659.0,29.505581,25.788561,0.798,3.123,10.004,14.793,20.741,34.791,162.71671,525.859
CTCOR,1169659.0,14.176621,10.738090,-11.575,-1.641,3.814,6.608,11.263,19.699,56.54200,246.600

In [31]:
dic_titles

{'KPERC': 'K (%)',
 'eU': 'U (ppm)',
 'eTH': 'Th (ppm)',
 'UTHRAZAO': 'U (ppm) / Th (ppm)',
 'UKRAZAO': 'U (ppm) / K (%)',
 'MDT': 'MDT (m)',
 'THKRAZAO': 'Th (ppm) / K (%)',
 'CTCOR': 'Contagem Total (μR/h)'}

In [32]:
def plot_raw_data(raw_data):
    fig, axs = plt.subplots(nrows = 2, ncols = 4, figsize = (9, 9),sharex='all',sharey='all')
    
    raw_data_describe = raw_data.describe(percentiles=(0.01,0.1,0.25,0.5,0.75,0.995))

    X, Y = raw_data.X, raw_data.Y

    for ax, f in zip(axs.flat, dic_titles):
        vmin = raw_data_describe[f]['1%']
        vmax = raw_data_describe[f]['99.5%']

        g = ax.scatter(c=raw_data[f], x = X,
                                      y = Y,
                                      cmap = 'rainbow',
                                      s    = 0.5,
                                      vmax =vmax, vmin=vmin)

        fig.colorbar(g, ax = ax)
        ax.set_title(str(dic_titles[f]), size = 11)
        ax.axis('scaled')

In [34]:
plot_raw_data(dic_cartas['raw_data']['SF23_Y_A_III_4'])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [37]:
data = dic_cartas['cubic']['SF23_Y_A_III_4']
plot_raw_data(data)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [ ]:
from shapely import geometry

lito_cubic  = dic_cartas['lito_cubic']['SF23_Y_A_III_4']

lito_cubic['geometry'] = [geometry.Point(x,y) for x, y in zip(lito_cubic['X'], lito_cubic['Y'])]

geodataframe = dic_cartas['lito_cubic']['SF23_Y_A_III_4'].set_geometry('geometry')
geodataframe.set_crs(32723,inplace=True)
geodataframe.to_crs(32723,inplace=True)

print(geodataframe.crs)

geodataframe.plot('closest_unid',s= 5,
                        legend=True,
                        legend_kwds={'loc': 'center left', 'bbox_to_anchor':(1,0.5)}
                )
                                 
plt.title(label=f"'closest_unid': SF23_Y_A_III_4")

In [39]:
def plotBoxplots(df, cols = None):
    n = len(cols)
    fig, axs = plt.subplots(n, 1, figsize = (9, n * 2))
    
    for ax, f in zip(axs, cols):
        sns.boxplot(y = f, x = 'closest_unid', data = df, ax = ax)

In [42]:
plotBoxplots(dic_cartas['lito_cubic']['SF23_Y_A_III_4'], cols = dic_titles)

KeyError: 'lito_cubic'

In [ ]:
plotBoxplots(dic_cartas['lito_cubic']['SF23_Y_A_III_4'], cols = dic_titles)

In [ ]:
fig, axs = plt.subplots(nrows = 4, ncols = 2, figsize = (7, 6))

for ax, gf in zip(axs.flat, dic_titles):
    g = ax.hist(dic_cartas['lito_splines']['SC23_Z_A_IV'][gf], color = 'lightblue', edgecolor = 'black')
    ax.set_title(str(dic_titles[gf]), size = 9)

plt.tight_layout()

In [ ]:
fig, axs = plt.subplots(nrows = 4, ncols = 2, figsize = (7, 6))

for ax, gf in zip(axs.flat, dic_titles):
    g = ax.hist(dic_cartas['lito_cubic']['SC23_Z_A_IV'][gf], color = 'lightblue', edgecolor = 'black')
    ax.set_title(str(dic_titles[gf]), size = 9)

plt.tight_layout()

In [ ]:
fig, axs = plt.subplots(nrows = 4, ncols = 2, figsize = (7, 6))

for ax, gf in zip(axs.flat, dic_titles):
    g = ax.hist(dic_cartas['raw_data']['SC23_Z_A_IV'][gf], color = 'lightblue', edgecolor = 'black')
    ax.set_title(str(dic_titles[gf]), size = 9)

plt.tight_layout()

In [ ]:
for i in dic_cartas['splines']:
    print(i)
    dic_cartas['lito_splines'][i].to_csv(f.gdb+'dataframe_input_model/lito_splines_'+i+'.csv',index=False)
    dic_cartas['lito_cubic'][i].to_csv(f.gdb+'dataframe_input_model/lito_cubic_'+i+'.csv',index=False)

In [ ]:
dic_cartas['lito_cubic']['SF23_Y_A_III_4']

KeyError: 'lito_cubic'

In [ ]:
dic_cartas['lito_cubic']['SC23_Z_A_IV'].closest_unid.isnull().sum()

In [ ]:
dic_cartas['lito_splines']['SC23_Z_A_IV']

In [ ]:
dic_cartas['lito_splines']['SC23_Z_A_IV'].closest_unid.isnull().sum()

In [ ]:
### DESCRICAO GEOSTATISTICA DOS DADOS INTERPOLADOS

def plot_splines_grid(splines_grid):
    fig, axs = plt.subplots(nrows = 4, ncols = 2, figsize = (16, 16),sharex='all',sharey='all')

    for ax, f in zip(axs.flat, dic_titles):

        df_splines = pd.DataFrame(splines_grid[f][f])

        p = df_splines.describe(percentiles=(0.01,0.1,0.25,0.5,0.75,0.995))
        print(p)
        vmin = p['1%']
        vmax = p['99.5%']

        g = grids[f][f].plot(ax=ax,
                             cmap = 'rainbow',
                             vmax =vmax, vmin=vmin)

        #fig.colorbar(g, ax = ax)
        ax.set_title(str(dic_titles[f]), size = 11)
        ax.axis('scaled')

    #plt.tight_layout()


geodataframe = dic_cartas['lito_splines']['SC23_Z_A_IV'].set_geometry('geometry')
print(geodataframe.crs)
geodataframe.plot('closest_unid',s= 5,
                                 legend=True,
                                 legend_kwds={'loc': 'center left', 'bbox_to_anchor':(1,0.5)})
                                 
plt.title(label=f"'closest_unid': SC23_Z_A_IV")
plt.axis('scaled')

KeyError: 'lito_splines'