In [1]:
#from pandas import read_csv
import pandas as pd
from IPython.display import Image

In [2]:
from src.src import gdb

gdb()

'/home/ggrl/database/'

# Neste notebook vamos utilizar as funçoes read_csv() e dropna() da biblioteca Pandas.

## Com um visualizador de logs podemos abrir os arquivos GamaLine.XYZ e GamaTie.XYZ:
    - git clone https://aur.archlinux.org/klogg-bin.git
    - cd klogg
    - makepkg
    - install tar.gz
    
    - Klogg is a substitute to Glogg. A fast log viewer and is used here to identify:
        - os nomes de cada coluna do arquivo e;
        - o numero de linhas de cabeçalho.

# Levantamento 1105

## Dados Gamaespectrometricos

In [ ]:
Image('imagens/klogg_gline_1105.png')

### Importando dados brutos

In [ ]:
gdb('xyz/1105_XYZ/1105/XYZ/1105_GamaLine.XYZ')

In [ ]:
gama_line_1105_cols = 'KB DATA BARO UB THB COSMICO CTB UUP ALTURA KPERC eU eTH CTEXP UTHRAZAO X Y UKRAZAO MDT THKRAZAO LIVE_TIME CTCOR KCOR THCOR UCOR HORA GPSALT LATITUDE FIDUCIAL TEMP LONGITUDE'.split(" ")             


gama_line_1105 = pd.read_csv(gdb('xyz/1105_XYZ/1105/XYZ/1105_GamaLine.XYZ'),
                         names=gama_line_1105_cols,
                         delim_whitespace=True,
                         skiprows=10,                                     # Linhas de cabeçalho
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "KPERC","eU","eTH","CTCOR",
                                  "THKRAZAO","UTHRAZAO","UKRAZAO","MDT"])

In [ ]:
gama_tie_1105_cols  = 'KB DATA BARO UB THB COSMICO CTB UUP ALTURA KPERC eU eTH CTEXP UTHRAZAO X Y UKRAZAO MDT THKRAZAO LIVE_TIME CTCOR KCOR THCOR UCOR HORA GPSALT LATITUDE FIDUCIAL TEMP LONGITUDE __X __Y'.split(" ")

gama_tie_1105 = pd.read_csv(gdb('xyz/1105_XYZ/1105/XYZ/1105_GamaTie.XYZ'),
                         names=gama_tie_1105_cols,
                         delim_whitespace=True,
                         skiprows=10,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "KPERC","eU","eTH","CTCOR",
                                  "THKRAZAO","UTHRAZAO","UKRAZAO","MDT"])

In [ ]:
# A primeira linha possui valores não numéricos 'NaN' que devem ser removidos
gama_line_1105.head(5)

### Observando os logs foi possível identifcar que entre as linhas dos dados numéricos existem índices de Lines e Tie que indicam à qual linha de voo os pontos pertencem e estas linhas serão ignoradas por enquanto.
    - Com a função 'df.shape' observamos o formato do nosso dado,
    - após a execução da função df.dropna(inplace=True) observamos que aqueles indices foram removidos

In [ ]:
print(f'Rows Gama_Tie: {gama_tie_1105.shape[0]}\
     Columns Gama_Tie: {gama_tie_1105.shape[1]}')

In [ ]:
print(f'Rows Gama_Line: {gama_line_1105.shape[0]}\
     Columns Gama_Line: {gama_line_1105.shape[1]}')

### Removendo valores não numéricos

In [ ]:
gama_line_1105.dropna(inplace=True) 
gama_tie_1105.dropna(inplace=True)

In [ ]:
print(f'Rows Gama_Tie: {gama_tie_1105.shape[0]}\
     Columns Gama_Tie: {gama_tie_1105.shape[1]}')

print(f'Rows Gama_Line: {gama_line_1105.shape[0]}\
     Columns Gama_Line: {gama_line_1105.shape[1]}')

### Exportando os arquivos tratados para um CSV

In [ ]:
gama_tie_1105.to_csv(gdb('geof/gama_tie_1105'),index=False)
gama_line_1105.to_csv(gdb('geof/gama_line_1105'),index=False)

## Dados Magnetometricos

### Colunas descritas nos dados brutos

In [ ]:
# Line
# /        DATA BARO ALTURA X Y MDT HORA   GPSALT    LATITUDE   FIDUCIAL   LONGITUDE     ALTURA_1       IGRF    MAGBASE     MAGBRU     MAGCOM     MAGCOR    MAGIGRF     MAGMIC     MAGNIV
# Tie
# / DATA BARO ALTURA,X,Y,MDT,HORA GPSALT    LATITUDE   FIDUCIAL   LONGITUDE     ALTURA_1       IGRF    MAGBASE     MAGBRU     MAGCOM     MAGCOR    MAGIGRF     MAGMIC     MAGNIV 

mag_1105_cols = 'DATA BARO ALTURA X Y MDT HORA GPSALT LATITUDE FIDUCIAL LONGITUDE ALTURA_1 IGRF MAGBASE MAGBRU MAGCOM MAGCOR MAGIGRF MAGMIC MAGNIV'.split(" ")

### Importando dados brutos

In [ ]:
mag_line_1105 = pd.read_csv(gdb('xyz/1105_XYZ/1105/XYZ/1105_MagLine.XYZ'),
                         names=mag_1105_cols,
                         delim_whitespace=True,
                         skiprows=11,                                     # Linhas de cabeçalho
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "MAGIGRF","ALTURA","ALTURA_1","MDT"])

mag_tie_1105 = pd.read_csv(gdb('xyz/1105_XYZ/1105/XYZ/1105_MagTie.XYZ'),
                         names=mag_1105_cols,
                         delim_whitespace=True,
                         skiprows=11,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "MAGIGRF","ALTURA","ALTURA_1","MDT"])

mag_1105 = pd.concat([mag_line_1105,mag_tie_1105], ignore_index=True)

### Removendo valores nao numericos

In [ ]:
# numero de linhas e colunas;
print(mag_1105.shape)
print(mag_1105.isna().sum()) # soma dos valores nao numericos para cada coluna;

In [ ]:
mag_1105.dropna(inplace=True)

In [ ]:
print(mag_1105.isna().sum()) # soma dos valores nao numericos para cada coluna;

### Exportando os arquivos tratados para um CSV

In [ ]:
mag_line_1105.to_csv(gdb('geof/mag_line_1105'), index=False)
mag_tie_1105.to_csv(gdb('geof/mag_tie_1105'), index=False)
mag_1105.to_csv(gdb('geof/mag_1105'), index=False)

# Levantamento 3022

In [ ]:
gama_3022_cols = 'ALTURA BARO COSMICO CTB CTCOR CTEXP DATA eTh eU FIDUCIAL GPSALT HORA KB KCOR KPERC LATITUDE LIVE_TIME LONGITUDE MDT TEMP THB THCOR THKRAZAO UB UCOR UKRAZAO UTHRAZAO UUP X X_WGS Y Y_WGS'.split(" ")

gama_3022 = pd.read_csv(gdb('xyz/3022_XYZ/XYZ/Area_14_gama.XYZ'),
                         names=gama_3022_cols,
                         delim_whitespace=True,
                         skiprows=8,
                         usecols=['X',"Y","LATITUDE","LONGITUDE",
                                  "KPERC", 'eU', 'eTh', 'CTCOR',
                                  'UTHRAZAO', "THKRAZAO", "UKRAZAO",
                                  "MDT"],
                         encoding='latin-1'
                         )

### Importando dados brutos
 - Este arquivo:
    - XYZ obtiddo atravéz do Professor Vinicius Abud Louro;
    - provém de um projeto diferente dos disponibilizados no portal SGB;
    - não possui os mesmo padrões que os arquivos disponibilizados no portal SGB;
    - possui valores expúrios entre os valores gama e mag;
        - valor identificado como '*' atravéz dos seguintes passos:
            -

In [ ]:
mag_3022_cols = 'ALTURA BARO DATA FID GPSALT HORA IGRF LAT_WGS LONG_WGS MAGBASE MAGBRU MAGCOM MAGCOR MAGIGRF MAGMIC MAGNIV MDT X X_WGS Y Y_WGS'.split(" ")


mag_3022 = pd.read_csv(gdb('xyz/3022_XYZ/XYZ/Area_14_mag.XYZ'),
                         names=mag_3022_cols,
                         delim_whitespace=True,
                         skiprows=8,
                         usecols=["X","Y","LAT_WGS","LONG_WGS",
                                  "ALTURA",
                                  "MAGIGRF","MDT"],
                         na_values=('*'),                     
                         dtype=('float'),
                         encoding='latin-1'
                         )

### Removendo valores nao numericos

In [ ]:
gama_3022.dropna(inplace=True) 
mag_3022.dropna(inplace=True)

### Salvando o dado tratado em um .CSV

In [ ]:
gama_3022.to_csv(gdb('geof/gama_3022'),index=False)
mag_3022.to_csv(gdb('geof/mag_3022'),index=False)

# Levantamento 1039

In [ ]:
'/  UTME      UTMN       LONG         LAT       MAGR      THC       UC        KC        CTC       MAGB      MAGC      MAGD      THB       UB        KB        CTB       FIDU      TEMP      ALTE      ALTB'

cols_1039 = 'UTME UTMN LONG LAT MAGR THC UC KC CTC MAGB MAGC MAGD THB UB KB CTB FIDU TEMP ALTE ALTB'.split(" ")

usecols=["UTME","UTMN","LAT","LONG","KC","UC","THC","CTC","MAGR","ALTE","MAGC","ALTB"]
      
geof_1039 = pd.read_csv(gdb('xyz/spaulo_rjaneiro_sp.xyz'),
                         names=cols_1039,
                         delim_whitespace=True,
                         usecols=usecols,
                         skiprows=6,
                         encoding='latin-1') # foi adicionado um novo tipo de econding diferente de UTF-8

In [ ]:
geof_1039.head(10)

In [ ]:
geof_1039.isnull().sum()

In [ ]:
geof_1039.dropna(inplace=True)
geof_1039.isnull().sum()

In [ ]:
geof_1039.rename(columns=\
                {'UTMN':'Y',
                 'UTME':'X',
                 'LONG':'LONGITUDE',
                 'LAT':'LATITUDE'},inplace=True)

In [ ]:
geof_1039

In [ ]:
gama_1039 = geof_1039[['THC','UC','KC','CTC','X','Y','LONGITUDE','LATITUDE']]

In [ ]:
mag_1039 = geof_1039[['ALTE','MAGR','X','Y','LONGITUDE','LATITUDE']]
mag_1039

In [ ]:
gama_1039.to_csv('/home/ggrl/database/geof/gama_1039',index=False)
mag_1039.to_csv('/home/ggrl/database/geof/mag_1039',index=False)

In [ ]:
geof_1039

In [ ]:
geof_1039.to_csv(gdb('geof/geof_1039'),index=False)

# Levantamento 1089

### Colunas descritas nos dados brutos

In [4]:
gama_1089_cols = 'X Y FIDUCIAL GPSALT BARO ALTURA MDT CTB KB UB THB UPU LIVE_TIME COS TEMP KPERC eU eth CTEXP CTCOR UCOR THCOR KCOR THKRAZAO UKRAZAO UTHRAZAO LONGITUDE LATITUDE DATA HORA'.split(" ")

mag_1089_cols = 'X Y FIDUCIAL GPSALT BARO ALTURA MDT MAGBASE MAGBRU MAGCOM MAGCOR MAGNIV MAGMIC MAGIGRF IGRF LONGITUDE LATITUDE DATA HORA'.split(" ")

In [3]:
test = pd.read_csv(gdb('xyz/1089_GamaLine.XYZ'))

In [4]:
print(test[0:15].values)

[['/ XYZ EXPORT [07/10/2009]']
 ['/ DATABASE   [.\\Disco\\GDB\\1089_GamaLine.gdb]']
 ['/ ------------------------------------------------------------------------------']
 ['/']
 ['/         X             Y   FIDUCIAL     GPSALT       BARO     ALTURA        MDT        CTB         KB         UB        THB        UPU  LIVE_TIME        COS       TEMP      KPERC         eU        eth      CTEXP      CTCOR       UCOR      THCOR       KCOR   THKRAZAO    UKRAZAO   UTHRAZAO    LONGITUDE     LATITUDE       DATA         HORA ']
 ['/========== ============= ========== ========== ========== ========== ========== ========== ========== ========== ========== ========== ========== ========== ========== ========== ========== ========== ========== ========== ========== ========== ========== ========== ========== ========== ============ ============ ========== ============ ']
 ['/']
 ['//Flight 10']
 ['//Date 2009/01/19']
 ['Line  10010']
 [' 472115.74    8754877.13    1995.00     871.62     857.40      89.19     776.89     936.00      45.00      39.00      51.00       5.00     925.00     223.00      26.00       0.05       1.04       7.43       2.89     571.35      11.56      32.69       3.14   159.5634    22.3105     0.1398 -45.25547662 -11.26346127 2009/01/16  11:53:31.00 ']
 [' 472115.90    8754953.80    1996.00     872.40     858.34      92.65     775.02     941.00      65.00      41.00      35.00       4.00     930.00     198.00      26.00       0.10       1.08       7.53       3.01     596.58      11.94      33.13       6.52    76.7952    11.0589     0.1440 -45.25547457 -11.26276792 2009/01/16  11:53:32.00 ']
 [' 472116.15    8755030.53    1997.00     872.55     858.34      95.12     773.50     940.00      66.00      37.00      49.00       2.00     928.00     187.00      26.00       0.13       1.18       7.75       3.19     631.86      13.10      34.11       8.54    61.2704     9.3150     0.1520 -45.25547170 -11.26207403 2009/01/16  11:53:33.00 ']
 [' 472116.27    8755107.38    1998.00     871.88     858.34      97.11     771.65     914.00      59.00      45.00      43.00       3.00     932.00     230.00      26.00       0.12       1.16       8.06       3.25     643.86      12.87      35.46       7.94    67.8138     9.8877     0.1458 -45.25546993 -11.26137895 2009/01/16  11:53:34.00 ']
 [' 472115.89    8755184.41    1999.00     870.98     856.46      98.98     769.55     980.00      61.00      44.00      48.00       1.00     930.00     204.00      26.00       0.12       1.08       9.44       3.59     710.77      11.94      41.54       7.76    80.5041     9.1303     0.1134 -45.25547288 -11.26068238 2009/01/16  11:53:35.00 ']]

In [5]:
print(test[4:5].values)
gama_1089_cols= 'X Y FIDUCIAL GPSALT BARO ALTURA MDT CTB KB UB THB UPU LIVE_TIME COS TEMP KPERC eU eTh CTEXP CTCOR UCOR THCOR KCOR THKRAZAO UKRAZAO UTHRAZAO LONGITUDE LATITUDE DATA HORA'.split(" ")

[['/         X             Y   FIDUCIAL     GPSALT       BARO     ALTURA        MDT        CTB         KB         UB        THB        UPU  LIVE_TIME        COS       TEMP      KPERC         eU        eth      CTEXP      CTCOR       UCOR      THCOR       KCOR   THKRAZAO    UKRAZAO   UTHRAZAO    LONGITUDE     LATITUDE       DATA         HORA ']]

In [6]:
gama_line_1089 = pd.read_csv(gdb('xyz/1089_GamaLine.XYZ'),
                         names=gama_1089_cols,
                         delim_whitespace=True,
                         skiprows=10,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "KPERC","eU","eTh","CTCOR",
                                  "THKRAZAO","UKRAZAO","UTHRAZAO",
                                  "MDT"],
                         na_values=('*'))

/tmp/ipykernel_13794/1064744998.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  gama_line_1089 = pd.read_csv(gdb('xyz/1089_GamaLine.XYZ'),

In [7]:
gama_line_1089

,X,Y,MDT,KPERC,eU,eTh,CTCOR,THKRAZAO,UKRAZAO,UTHRAZAO,LONGITUDE,LATITUDE
0,Line,10010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,472115.74,8754877.13,776.89,0.05,1.04,7.43,571.35,159.5634,22.3105,0.1398,-45.255477,-11.263461
2,472115.90,8754953.80,775.02,0.10,1.08,7.53,596.58,76.7952,11.0589,0.1440,-45.255475,-11.262768
3,472116.15,8755030.53,773.50,0.13,1.18,7.75,631.86,61.2704,9.3150,0.1520,-45.255472,-11.262074
4,472116.27,8755107.38,771.65,0.12,1.16,8.06,643.86,67.8138,9.8877,0.1458,-45.255470,-11.261379
...,...,...,...,...,...,...,...,...,...,...,...,...
635759,665126.58,8782417.52,422.06,0.29,0.59,7.02,562.15,23.8827,1.9898,0.0833,-43.488568,-11.010735
635760,665130.89,8782340.24,422.94,0.33,0.61,7.26,588.93,22.3755,1.9209,0.0858,-43.488525,-11.011434
635761,665135.62,8782262.93,423.37,0.36,0.66,7.69,630.33,21.1524,1.7839,0.0843,-43.488478,-11.012132
635762,665140.29,8782185.57,422.44,0.40,0.48,7.39,599.77,18.7542,1.2390,0.0661,-43.488431,-11.012832
635763,665143.98,8782108.02,423.89,0.45,0.30,7.40,594.58,16.2804,0.6390,0.0393,-43.488394,-11.013533

In [8]:
gama_line_1089.dropna(inplace=True)

In [9]:
gama_line_1089

,X,Y,MDT,KPERC,eU,eTh,CTCOR,THKRAZAO,UKRAZAO,UTHRAZAO,LONGITUDE,LATITUDE
1,472115.74,8754877.13,776.89,0.05,1.04,7.43,571.35,159.5634,22.3105,0.1398,-45.255477,-11.263461
2,472115.90,8754953.80,775.02,0.10,1.08,7.53,596.58,76.7952,11.0589,0.1440,-45.255475,-11.262768
3,472116.15,8755030.53,773.50,0.13,1.18,7.75,631.86,61.2704,9.3150,0.1520,-45.255472,-11.262074
4,472116.27,8755107.38,771.65,0.12,1.16,8.06,643.86,67.8138,9.8877,0.1458,-45.255470,-11.261379
5,472115.89,8755184.41,769.55,0.12,1.08,9.44,710.77,80.5041,9.1303,0.1134,-45.255473,-11.260682
...,...,...,...,...,...,...,...,...,...,...,...,...
635759,665126.58,8782417.52,422.06,0.29,0.59,7.02,562.15,23.8827,1.9898,0.0833,-43.488568,-11.010735
635760,665130.89,8782340.24,422.94,0.33,0.61,7.26,588.93,22.3755,1.9209,0.0858,-43.488525,-11.011434
635761,665135.62,8782262.93,423.37,0.36,0.66,7.69,630.33,21.1524,1.7839,0.0843,-43.488478,-11.012132
635762,665140.29,8782185.57,422.44,0.40,0.48,7.39,599.77,18.7542,1.2390,0.0661,-43.488431,-11.012832
635763,665143.98,8782108.02,423.89,0.45,0.30,7.40,594.58,16.2804,0.6390,0.0393,-43.488394,-11.013533

In [10]:
gama_line_1089.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 635173 entries, 1 to 635763
Data columns (total 12 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   X          635173 non-null  object
 1   Y          635173 non-null  object
 2   MDT        635173 non-null  float64
 3   KPERC      635173 non-null  float64
 4   eU         635173 non-null  float64
 5   eTh        635173 non-null  float64
 6   CTCOR      635173 non-null  float64
 7   THKRAZAO   635173 non-null  float64
 8   UKRAZAO    635173 non-null  float64
 9   UTHRAZAO   635173 non-null  float64
 10  LONGITUDE  635173 non-null  float64
 11  LATITUDE   635173 non-null  float64
dtypes: float64(10), object(2)
memory usage: 63.0+ MB

In [16]:
from src.funcs_descricao import descricao
a,b,c,d,e = descricao(gama_line_1089)

Listando atributos dos dados geofisicos

100%|██████████| 12/12 [00:00<00:00, 222706.41it/s]

# --- # Listagem de dados do aerolevantamento:
Lista de atributos geofísicos = ['MDT', 'KPERC', 'eU', 'eTh', 'CTCOR', 'THKRAZAO', 'UKRAZAO', 'UTHRAZAO']
lista de atributos geograficos = ['LONGITUDE', 'LATITUDE']
lista de atributos projetados = ['X', 'Y']

In [23]:
gama_line_1089.describe(percentiles=[0.03,0.995]).Tdd

,count,mean,std,min,3%,50%,99.5%,max
MDT,635173.0,508.893234,85.329898,290.640000,357.961600,501.300000,722.290000,795.550000
KPERC,635173.0,0.520116,0.545391,-0.410000,-0.010000,0.350000,2.990000,6.520000
eU,635173.0,1.107293,0.683094,-1.640000,0.160000,1.000000,3.880000,25.500000
eTh,635173.0,9.470464,5.405466,-0.560000,2.250000,8.400000,29.290000,70.130000
CTCOR,635173.0,836.493968,450.466561,-86.650000,203.060000,754.030000,2424.664200,5958.820000
THKRAZAO,635173.0,52.609745,92.576155,0.453200,4.806900,24.052000,658.665466,1892.694000
UKRAZAO,635173.0,6.368725,10.713721,0.011800,0.367200,2.783600,69.429660,217.339100
UTHRAZAO,635173.0,0.129238,0.070951,0.002300,0.030700,0.118200,0.427100,1.843900
LONGITUDE,635173.0,-44.306222,0.515346,-45.255804,-45.196111,-44.263697,-43.497473,-43.488394
LATITUDE,635173.0,-10.485593,0.386353,-11.263667,-11.143310,-10.507605,-9.631656,-9.611454

In [18]:
e.T

,count,mean,std,min,0.1%,10%,25%,50%,75%,99.5%,max
MDT,635173.0,508.893234,85.329898,290.6400,312.140000,400.9600,450.5400,501.3000,564.3900,722.290000,795.5500
KPERC,635173.0,0.520116,0.545391,-0.4100,-0.120000,0.0500,0.1400,0.3500,0.7200,2.990000,6.5200
eU,635173.0,1.107293,0.683094,-1.6400,-0.290000,0.3800,0.6500,1.0000,1.4400,3.880000,25.5000
eTh,635173.0,9.470464,5.405466,-0.5600,0.600000,3.6200,5.7900,8.4000,11.9900,29.290000,70.1300
CTCOR,635173.0,836.493968,450.466561,-86.6500,72.351280,331.9800,513.8200,754.0300,1085.9200,2424.664200,5958.8200
THKRAZAO,635173.0,52.609745,92.576155,0.4532,1.701555,7.4646,12.3368,24.0520,51.7335,658.665466,1892.6940
UKRAZAO,635173.0,6.368725,10.713721,0.0118,0.045417,0.7330,1.3617,2.7836,6.1791,69.429660,217.3391
UTHRAZAO,635173.0,0.129238,0.070951,0.0023,0.005800,0.0583,0.0848,0.1182,0.1596,0.427100,1.8439

In [25]:
#gama_1089.to_csv(gdb+'geof/gama_1089',index=False)
gama_line_1089.to_csv(gdb()+'geof/gama_line_1089',index=False)

In [7]:
mLine_1089 = pd.read_csv(gdb()+'xyz/1089_MagLine.XYZ',
                         names=mag_1089_cols,
                         delim_whitespace=True,
                         skiprows=11,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "MAGIGRF","ALTURA","MDT"],
                         na_values=('*'))

/tmp/ipykernel_16224/2982523452.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  mLine_1089 = pd.read_csv(gdb()+'xyz/1089_MagLine.XYZ',

In [ ]:
mTie_1089 = pd.read_csv(gdb+'xyz/1089_XYZ/XYZ/1089_MagTie.XYZ',
                         names=mag_cols,
                         delim_whitespace=True,
                         skiprows=11,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "MAGIGRF","ALTURA","MDT"],
                         na_values=('*'))

In [ ]:
#m_1089 = pd.concat([mTie_1089,mLine_1089], ignore_index=True)

In [8]:
mLine_1089

                 X           Y  ALTURA     MDT  MAGIGRF  LONGITUDE   LATITUDE
0        472115.74  8754877.13   89.19  776.89  -42.072 -45.255477 -11.263461
1        472115.76   8754884.8   89.25  776.71  -42.247 -45.255476 -11.263392
2        472115.78  8754892.47   89.83  776.52  -42.419 -45.255476 -11.263323
3        472115.79  8754900.13   89.90  776.33  -42.590 -45.255476 -11.263253
4        472115.81   8754907.8   90.39  776.14  -42.763 -45.255476 -11.263184
...            ...         ...     ...     ...      ...        ...        ...
6348595  665142.51  8782139.04   98.77  423.31  -15.709 -43.488409 -11.013252
6348596  665142.87  8782131.29   98.78  423.45  -15.599 -43.488405 -11.013322
6348597  665143.24  8782123.53   98.28  423.60      NaN -43.488402 -11.013392
6348598  665143.61  8782115.78   97.86  423.74      NaN -43.488398 -11.013462
6348599  665143.98  8782108.02   97.95  423.89      NaN -43.488394 -11.013533

[6348600 rows x 7 columns]

In [9]:
mag_1089 = mLine_1089.dropna()

In [10]:
mag_1089.to_csv(gdb()+'geof/mag_line_1089',index=False)

In [ ]:
a = f.descricao(mag_1089)

In [ ]:
a[0]

In [ ]:
a[4].T

# Podemos criar uma classe que padroniza a função pandas.read_csv() para que o processo possa ser executado de forma mais eficiente

In [ ]:
class Import:
    '''

    '''
    # Params -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    def __init__(self,caminho,usecols):
        self.caminho = caminho
        self.usecols = usecols
    # --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    
    # Gama ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    def gama(self):
        '''

        '''
        gama_tie_1105_cols  = 'KB DATA BARO UB THB COSMICO CTB UUP ALTURA KPERC eU eTH CTEXP UTHRAZAO X Y UKRAZAO MDT THKRAZAO LIVE_TIME CTCOR KCOR THCOR UCOR HORA GPSALT LATITUDE FIDUCIAL TEMP LONGITUDE __X __Y'.split(" ")
        gama_line_1105_cols = 'KB DATA BARO UB THB COSMICO CTB UUP ALTURA KPERC eU eTH CTEXP UTHRAZAO X Y UKRAZAO MDT THKRAZAO LIVE_TIME CTCOR KCOR THCOR UCOR HORA GPSALT LATITUDE FIDUCIAL TEMP LONGITUDE'.split(" ")             
        gama_1089_cols = 'X Y FIDUCIAL GPSALT BARO ALTURA MDT CTB KB UB THB UPU LIVE_TIME COS TEMP KPERC eU eth CTEXP CTCOR UCOR THCOR KCOR THKRAZAO UKRAZAO UTHRAZAO LONGITUDE LATITUDE DATA HORA'.split(" ")
        mag_1089_cols = 'X Y FIDUCIAL GPSALT BARO ALTURA MDT MAGBASE MAGBRU MAGCOM MAGCOR MAGNIV MAGMIC MAGIGRF IGRF LONGITUDE LATITUDE DATA HORA'.split(" ")
        
        df = pd.read_csv(gdb(self.caminho),
                            names = 'KB DATA BARO UB THB COSMICO CTB UUP ALTURA KPERC eU eTH CTEXP UTHRAZAO X Y UKRAZAO MDT THKRAZAO LIVE_TIME CTCOR KCOR THCOR UCOR HORA GPSALT LATITUDE FIDUCIAL TEMP LONGITUDE'.split(" "),
                            usecols = self.usecols,
                            delim_whitespace=True,
                            skiprows=10)
                                
        return df
    # --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    
    # Mag ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    def mag(self):
        '''
        
        '''

        df = pd.read_csv(gdb(self.caminho),
                        names = self.mag_1105_cols,
                        usecols = self.usecols,
                        delim_whitespace=True,
                        skiprows=10)

        return df


    def litologia(self):
        '''
        
        '''

        return litologia

    def malha_cartog(self):
        '''
        
        '''
        
        litologia = gpd.read_file(gdb('geodatabase.gpkg'),
                        )


        return malha_cartog
    # --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
Import_xyz('geof/1105_GamaLine.XYZ',['X','Y','CTCOR']).gama()

In [ ]:
Import_xyz('geof/1105_GamaLine.XYZ',['X','Y','LATITUDE','LONGITUDE','KPERC','eU','eTH','CTCOR','MDT']).gama()

In [ ]:
Import_xyz('geof/1089_GamaLine.XYZ',['X','Y','LATITUDE','LONGITUDE','KPERC','eU','eTH','CTCOR','MDT']).gama()

In [ ]:
Import_xyz('geof/MagLine')