In [1]:
import matplotlib.pyplot as plt
plt.rcParams['figure.dpi'] = 120
%matplotlib widget

In [2]:
from src.data_manipulation import get_region, interpolar
from src.funcs_importar import gdb

# Dicionário de cartas 1105

In [2]:
dic_cartas_1105, dic_raw_meta_1105 = get_region('250k','SF23','geof/gama_line_1105','litologia_100k')

NameError: name 'get_region' is not defined

In [8]:
data = dic_cartas_1105['litologia']

In [9]:
for i in data:
    print(i)

SF23_VA
SF23_VC
SF23_YA
SF23_YC
SF23_VB
SF23_VD
SF23_YB
SF23_YD
SF23_XA
SF23_XC
SF23_ZA
SF23_ZC
SF23_XB
SF23_XD
SF23_ZB
SF23_ZD

In [14]:
ax = dic_raw_meta_1105['Malha_cartografica'].boundary.plot(color='Black')

dic_cartas_1105['litologia']['SF23_VD'].plot('SIGLA',
                                        ax=ax,
                                        legend=True,
                                        legend_kwds={'loc': 'center left', 'bbox_to_anchor':(1,0.5)})

/home/ggrl/anaconda3/envs/geologist_bot/lib/python3.8/site-packages/geopandas/plotting.py:678: UserWarning: The GeoDataFrame you are attempting to plot is empty. Nothing has been displayed.
  warnings.warn(

In [36]:
print(dic_raw_meta['Lista_at_geof'])
dic_raw_meta['Metadata']

['KPERC', 'eU', 'eTH', 'UTHRAZAO', 'UKRAZAO', 'MDT', 'THKRAZAO', 'CTCOR']

,dType,Valores Faltantes,Valores Únicos,Valoes Negativos,Amostragem
KPERC,float64,0,6955,47711,1169659
eU,float64,0,8168,55720,1169659
eTH,float64,0,61336,35862,1169659
UTHRAZAO,float64,0,793,0,1169659
X,float64,0,888292,0,1169659
Y,float64,0,1134332,0,1169659
UKRAZAO,float64,0,18813,0,1169659
MDT,float64,0,165213,72,1169659
THKRAZAO,float64,0,115015,0,1169659
CTCOR,float64,0,56613,12033,1169659
LATITUDE,float64,0,851263,1169659,1169659
LONGITUDE,float64,0,728161,1169659,1169659

In [37]:
dic_raw_meta['Percentiles'].T

,count,mean,std,min,0.1%,10%,25%,50%,75%,99.5%,max
KPERC,1169659.0,0.959790,0.854709,-0.500,-0.355,0.085,0.382,0.757,1.306,4.53000,14.577
eU,1169659.0,1.736779,1.092923,-0.500,-0.381,0.325,1.008,1.673,2.373,5.38300,23.934
eTH,1169659.0,19.289047,11.065808,-4.048,-0.722,6.860,12.290,18.382,25.207,59.15600,241.474
UTHRAZAO,1169659.0,0.097126,0.042352,0.000,0.000,0.056,0.073,0.090,0.111,0.27900,2.669
UKRAZAO,1169659.0,2.716171,2.416952,0.042,0.181,0.819,1.300,1.911,3.302,14.90200,59.007
MDT,1169659.0,872.675007,408.562445,-4.100,0.000,395.280,641.520,887.680,1113.550,1933.61130,2751.590
THKRAZAO,1169659.0,29.505581,25.788561,0.798,3.123,10.004,14.793,20.741,34.791,162.71671,525.859
CTCOR,1169659.0,14.176621,10.738090,-11.575,-1.641,3.814,6.608,11.263,19.699,56.54200,246.600

In [ ]:
dic_cartas['raw_data']['SF23_Y_A_III_4']

In [ ]:
#Levantamento 1105
dic_cartas, dic_raw_meta = interpolar(gama=True,dic_cartas=dic_cartas,dic_raw_meta=dic_raw_meta)

## Descriçao estatistica dos dados brutos

In [ ]:
dic_cartas['cubic'].keys()

In [ ]:
dic_cartas.keys()

## DESCRIÇÃO DOS DADOS DA FOLHA SF23_Y_A_III_4

### DICIONARIO DE DADOS DISPONIVEIS
    - Regioes geograficas (W,E, S, N)
    - Regioes projetadas (W,E, S, N)
    - Dados Brutos
    - Dados Interpolados
    - Scores da Validacao Crusada para os dados interpolados
    - Dataframe com classes alvos (Unidades Litologicas)

In [ ]:
for i in dic_cartas:
    print(i)

In [ ]:
print(f"#  folhas cartograficas: {len(dic_cartas['region'])}")
print(f"ID folhas cartograficas: {list(dic_cartas['region'].keys())}")

In [ ]:
print(f"Dados interpolados pleo modelo de cubico: {list(dic_cartas['cubic']['SF23_Y_A_III_4'].keys())}")

### CRIANDO DICIONARIO DE TITULOS PARA OS PLOTS

In [ ]:
list_canal = dic_raw_meta['Lista_at_geof']
print(f"Lista de atributos: {list_canal}")

# LISTA DE TITULOS 
titles =   [
            'K (%)',
            'U (ppm)',
            'Th (ppm)',
            'U (ppm) / Th (ppm)',
            'U (ppm) / K (%)',
            'MDT (m)',
            'Th (ppm) / K (%)',
            'Contagem Total (μR/h)'
            ]


# DICIONARIO DE TITULOS
dic_titles = {}
for f, t in zip(list_canal, titles):
    dic_titles[f] = t

dic_titles

#### DISTRIBUICAO GEOSTATISTICA DOS DADOS BRUTOS

In [ ]:
dic_raw_meta['Percentiles'].T

In [ ]:
dic_titles

In [ ]:
def plot_raw_data(raw_data):
    fig, axs = plt.subplots(nrows = 2, ncols = 4, figsize = (9, 9),sharex='all',sharey='all')
    
    raw_data_describe = raw_data.describe(percentiles=(0.01,0.1,0.25,0.5,0.75,0.995))

    X, Y = raw_data.X, raw_data.Y

    for ax, f in zip(axs.flat, dic_titles):
        vmin = raw_data_describe[f]['1%']
        vmax = raw_data_describe[f]['99.5%']

        g = ax.scatter(c=raw_data[f], x = X,
                                      y = Y,
                                      cmap = 'rainbow',
                                      s    = 0.5,
                                      vmax =vmax, vmin=vmin)

        fig.colorbar(g, ax = ax)
        ax.set_title(str(dic_titles[f]), size = 11)
        ax.axis('scaled')

In [ ]:
plot_raw_data(dic_cartas['raw_data']['SF23_Y_A_III_2'])

In [ ]:
plot_raw_data(dic_cartas['raw_data']['SF23_Y_A_III_4'])

In [ ]:
dic_cartas.keys()

In [ ]:
data = dic_cartas['cubic']['SF23_Y_A_III_4']
plot_raw_data(data)

In [ ]:
dic_cartas['cubic'].keys()

In [ ]:
plot_raw_data(dic_cartas['cubic']['SF23_Y_A_III_2'])

In [ ]:
from shapely import geometry

lito_cubic  = dic_cartas['lito_cubic']['SF23_Y_A_III_4']

lito_cubic['geometry'] = [geometry.Point(x,y) for x, y in zip(lito_cubic['X'], lito_cubic['Y'])]

geodataframe = dic_cartas['lito_cubic']['SF23_Y_A_III_4'].set_geometry('geometry')
geodataframe.set_crs(32723,inplace=True)
geodataframe.to_crs(32723,inplace=True)

print(geodataframe.crs)

geodataframe.plot('closest_unid',s= 5,
                        legend=True,
                        legend_kwds={'loc': 'center left', 'bbox_to_anchor':(1,0.5)}
                )
                                 
plt.title(label=f"'closest_unid': SF23_Y_A_III_4")

In [ ]:
def plotBoxplots(df, cols = None):
    n = len(cols)
    fig, axs = plt.subplots(n, 1, figsize = (9, n * 2))
    
    for ax, f in zip(axs, cols):
        sns.boxplot(y = f, x = 'closest_unid', data = df, ax = ax)

In [ ]:
plotBoxplots(dic_cartas['lito_cubic']['SF23_Y_A_III_4'], cols = dic_titles)

In [ ]:
plotBoxplots(dic_cartas['lito_cubic']['SF23_Y_A_III_4'], cols = dic_titles)

In [ ]:
fig, axs = plt.subplots(nrows = 4, ncols = 2, figsize = (7, 6))

for ax, gf in zip(axs.flat, dic_titles):
    g = ax.hist(dic_cartas['lito_splines']['SC23_Z_A_IV'][gf], color = 'lightblue', edgecolor = 'black')
    ax.set_title(str(dic_titles[gf]), size = 9)

plt.tight_layout()

In [ ]:
fig, axs = plt.subplots(nrows = 4, ncols = 2, figsize = (7, 6))

for ax, gf in zip(axs.flat, dic_titles):
    g = ax.hist(dic_cartas['lito_cubic']['SC23_Z_A_IV'][gf], color = 'lightblue', edgecolor = 'black')
    ax.set_title(str(dic_titles[gf]), size = 9)

plt.tight_layout()

In [ ]:
fig, axs = plt.subplots(nrows = 4, ncols = 2, figsize = (7, 6))

for ax, gf in zip(axs.flat, dic_titles):
    g = ax.hist(dic_cartas['raw_data']['SC23_Z_A_IV'][gf], color = 'lightblue', edgecolor = 'black')
    ax.set_title(str(dic_titles[gf]), size = 9)

plt.tight_layout()

In [ ]:
for i in dic_cartas['splines']:
    print(i)
    dic_cartas['lito_splines'][i].to_csv(f.gdb+'dataframe_input_model/lito_splines_'+i+'.csv',index=False)
    dic_cartas['lito_cubic'][i].to_csv(f.gdb+'dataframe_input_model/lito_cubic_'+i+'.csv',index=False)

In [ ]:
dic_cartas['lito_cubic']['SF23_Y_A_III_4']

In [ ]:
dic_cartas['lito_cubic']['SC23_Z_A_IV'].closest_unid.isnull().sum()

In [ ]:
dic_cartas['lito_splines']['SC23_Z_A_IV']

In [ ]:
dic_cartas['lito_splines']['SC23_Z_A_IV'].closest_unid.isnull().sum()

In [ ]:
### DESCRICAO GEOSTATISTICA DOS DADOS INTERPOLADOS

def plot_splines_grid(splines_grid):
    fig, axs = plt.subplots(nrows = 4, ncols = 2, figsize = (16, 16),sharex='all',sharey='all')

    for ax, f in zip(axs.flat, dic_titles):

        df_splines = pd.DataFrame(splines_grid[f][f])

        p = df_splines.describe(percentiles=(0.01,0.1,0.25,0.5,0.75,0.995))
        print(p)
        vmin = p['1%']
        vmax = p['99.5%']

        g = grids[f][f].plot(ax=ax,
                             cmap = 'rainbow',
                             vmax =vmax, vmin=vmin)

        ax.set_title(str(dic_titles[f]), size = 11)
        ax.axis('scaled')


geodataframe = dic_cartas['lito_splines']['SC23_Z_A_IV'].set_geometry('geometry')
print(geodataframe.crs)
geodataframe.plot('closest_unid',s= 5,
                                 legend=True,
                                 legend_kwds={'loc': 'center left', 'bbox_to_anchor':(1,0.5)})
                                 
plt.title(label=f"'closest_unid': SC23_Z_A_IV")
plt.axis('scaled')

In [ ]:
dic_cartas, dic_raw_meta = interpolar(gama='gama_line_1105',dic_cartas=dic_cartas,dic_raw_meta=dic_raw_meta)

In [ ]:
dic_cartas['cubic'].keys()

In [ ]:
dic_cartas['cubic']['SF23_Y_A_III_4']

# Dicionário de cartas 3022

In [67]:
dic_cartas_3022, dic_raw_meta_3022 = get_region('250k','SF23','geof/gama_3022','litologia_100k')

# Importando dados
# -- Lista de camadas vetoriais disponiveis no Geopackage: ['litologia_1kk', 'litologia_250k', 'litologia_100k', 'litologia_50k', 'aflora', 'am_petro', 'proj_cprm', 'proj_aerogeof', 'socorro_250k', 'ocorr_min_cprm', 'malha_cartog_1kk_wgs84', 'malha_cartog_50k_wgs84', 'malha_cartog_25k_wgs84', 'malha_cartog_100k_wgs84', 'malha_cartog_250k_wgs84']

# -- Selecionando Folhas Cartograficas
# --- Iniciando seleção de área de estudo
EPSG:32723
# --- Construindo Dicionario de Cartas
16 folhas cartográfica selecionadas

Listando atributos dos dados geofisicos

100%|██████████| 19/19 [00:00<00:00, 388740.37it/s]

# --- # Listagem de dados do aerolevantamento:
Lista de atributos geofísicos = ['BARO', 'CTB', 'CTCOR', 'eTh', 'eU', 'KB', 'KPERC', 'MDT', 'THB', 'THKRAZAO', 'UB', 'UKRAZAO', 'UTHRAZAO', 'X_WGS', 'Y_WGS']
lista de atributos geograficos = ['LATITUDE', 'LONGITUDE']
lista de atributos projetados = ['X', 'Y']

# -- Contruindo dicionario de metadados

# --- Início da iteração entre as folhas cartográficas #

0it [00:00, ?it/s]

A folha SF23_VA possui apenas '0' pontos coletados que devem ser adicionados a folha mais próxima
Folha cartografica sem dados Aerogeofisicos
# Folha de código: SF23_VC
 Atualizando dados brutos em dic_cartas['raw_data']
 com 60312 pontos de amostragem
epsg:32723

2it [00:21, 10.86s/it]/home/ggrl/anaconda3/envs/geologist_bot/lib/python3.8/site-packages/geopandas/geodataframe.py:1322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)
16it [00:21,  1.36s/it]

 Atualizando dados geologicos em dic_cartas['litologia']
 com 1 poligonos descritos por                         27 atributos geologicos
A folha SF23_YA possui apenas '0' pontos coletados que devem ser adicionados a folha mais próxima
Folha cartografica sem dados Aerogeofisicos
A folha SF23_YC possui apenas '0' pontos coletados que devem ser adicionados a folha mais próxima
Folha cartografica sem dados Aerogeofisicos
A folha SF23_VB possui apenas '0' pontos coletados que devem ser adicionados a folha mais próxima
Folha cartografica sem dados Aerogeofisicos
# Folha de código: SF23_VD
 Atualizando dados brutos em dic_cartas['raw_data']
 com 385964 pontos de amostragem
epsg:32723
 Atualizando dados geologicos em dic_cartas['litologia']
 com 1 poligonos descritos por                         27 atributos geologicos
A folha SF23_YB possui apenas '0' pontos coletados que devem ser adicionados a folha mais próxima
Folha cartografica sem dados Aerogeofisicos
A folha SF23_YD possui apenas '0' pontos coletados que devem ser adicionados a folha mais próxima
Folha cartografica sem dados Aerogeofisicos
A folha SF23_XA possui apenas '52' pontos coletados que devem ser adicionados a folha mais próxima
# Folha de código: SF23_XC
 Atualizando dados brutos em dic_cartas['raw_data']
 com 232125 pontos de amostragem
epsg:32723
 Atualizando dados geologicos em dic_cartas['litologia']
 com 0 poligonos descritos por                         27 atributos geologicos
A folha SF23_ZA possui apenas '713' pontos coletados que devem ser adicionados a folha mais próxima
A folha SF23_ZC possui apenas '0' pontos coletados que devem ser adicionados a folha mais próxima
Folha cartografica sem dados Aerogeofisicos
A folha SF23_XB possui apenas '0' pontos coletados que devem ser adicionados a folha mais próxima
Folha cartografica sem dados Aerogeofisicos
A folha SF23_XD possui apenas '0' pontos coletados que devem ser adicionados a folha mais próxima
Folha cartografica sem dados Aerogeofisicos
A folha SF23_ZB possui apenas '0' pontos coletados que devem ser adicionados a folha mais próxima
Folha cartografica sem dados Aerogeofisicos
A folha SF23_ZD possui apenas '0' pontos coletados que devem ser adicionados a folha mais próxima
Folha cartografica sem dados Aerogeofisicos

# Dicionário de Cartas 1039

In [3]:
dic_cartas_1039, dic_raw_meta_1039 = get_region('250k','SF23_YA_','geof/geof_1039','litologia_1kk')

# Importando dados
# -- Lista de camadas vetoriais disponiveis no Geopackage: ['litologia_1kk', 'litologia_250k', 'litologia_100k', 'litologia_50k', 'aflora', 'am_petro', 'proj_cprm', 'proj_aerogeof', 'socorro_250k', 'ocorr_min_cprm', 'malha_cartog_50k_wgs84', 'malha_cartog_25k_wgs84', 'malha_cartog_100k_wgs84', 'malha_cartog_250k_wgs84', 'malha_cartog_1kk_wgs84']

# -- Selecionando Folhas Cartograficas
# --- Iniciando seleção de área de estudo
EPSG:32723
# --- Construindo Dicionario de Cartas
6 folhas cartográfica selecionadas

Listando atributos dos dados geofisicos

100%|██████████| 10/10 [00:00<00:00, 40136.88it/s]

# --- # Listagem de dados do aerolevantamento:
Lista de atributos geofísicos = ['MAGR', 'THC', 'UC', 'KC', 'CTC', 'ALTE']
lista de atributos geograficos = ['LONGITUDE', 'LATITUDE']
lista de atributos projetados = ['X', 'Y']

# -- Contruindo dicionario de metadados

# --- Início da iteração entre as folhas cartográficas #

0it [00:00, ?it/s]

A folha SF23_YA_I possui apenas '129' pontos coletados que devem ser adicionados a folha mais próxima
A folha SF23_YA_IV possui apenas '212' pontos coletados que devem ser adicionados a folha mais próxima
# Folha de código: SF23_YA_II
 Atualizando dados brutos em dic_cartas['raw_data']
 com 32922 pontos de amostragem
epsg:32723

3it [00:12,  4.06s/it]/home/ggrl/anaconda3/envs/geologist_bot/lib/python3.8/site-packages/geopandas/geodataframe.py:1322: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)
6it [00:12,  2.03s/it]

 Atualizando dados geologicos em dic_cartas['litologia']
 com 61 poligonos descritos por                         27 atributos geologicos
# Folha de código: SF23_YA_V
 Atualizando dados brutos em dic_cartas['raw_data']
 com 31951 pontos de amostragem
epsg:32723
 Atualizando dados geologicos em dic_cartas['litologia']
 com 12 poligonos descritos por                         27 atributos geologicos
# Folha de código: SF23_YA_III
 Atualizando dados brutos em dic_cartas['raw_data']
 com 25731 pontos de amostragem
epsg:32723
 Atualizando dados geologicos em dic_cartas['litologia']
 com 2 poligonos descritos por                         27 atributos geologicos
# Folha de código: SF23_YA_VI
 Atualizando dados brutos em dic_cartas['raw_data']
 com 31469 pontos de amostragem
epsg:32723
 Atualizando dados geologicos em dic_cartas['litologia']
 com 2 poligonos descritos por                         27 atributos geologicos

In [4]:
dic_cartas_1039.keys()

dict_keys(['geometry', 'region', 'region_proj', 'raw_data', 'litologia'])

In [5]:
dic_cartas_1039['litologia']['SF23_YA_V'].plot('SIGLA')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [6]:
dic_cartas_1039, dic_raw_meta_1039 = interpolar(geof=True,dic_cartas=dic_cartas_1039,dic_raw_meta=dic_raw_meta_1039)

# Inicio dos processos de interpolação pelo método cúbico

0it [00:00, ?it/s]

SF23_YA_I geometry       POLYGON ((190234.9499311665 7564133.20832909, ...
region                              (-48.0, -47.5, -22.5, -22.0)
region_proj    (190234.94993116654, 242804.16592322386, 75087...
raw_data
Name: SF23_YA_I, dtype: object

SF23_YA_IV geometry       POLYGON ((191334.3105767927 7508734.010298273,...
region                              (-48.0, -47.5, -23.0, -22.5)
region_proj    (191334.31057679275, 243739.30658870516, 74533...
raw_data
Name: SF23_YA_IV, dtype: object

SF23_YA_II geometry       POLYGON ((241888.5673743733 7565062.666183462,...
region                              (-47.5, -47.0, -22.5, -22.0)
region_proj    (241888.56737437332, 294260.0693787823, 750968...
raw_data
Name: SF23_YA_II, dtype: object
# Folha de código: SF23_YA_II
 Retirando dados brutos em dic_cartas['raw_data']
 com 32922 pontos de contagens radiométricas coletados com linhas de voo de 500 metros

3it [00:05,  1.68s/it]

__________________________________________

SF23_YA_V geometry       POLYGON ((242804.1659232239 7509680.129911005,...
region                              (-47.5, -47.0, -23.0, -22.5)
region_proj    (242804.16592322386, 295007.82751339185, 74542...
raw_data
Name: SF23_YA_V, dtype: object
# Folha de código: SF23_YA_V
 Retirando dados brutos em dic_cartas['raw_data']
 com 31951 pontos de contagens radiométricas coletados com linhas de voo de 500 metros

4it [00:09,  2.72s/it]

__________________________________________

SF23_YA_III geometry       POLYGON ((293527.9406866278 7565822.725949138,...
region                              (-47.0, -46.5, -22.5, -22.0)
region_proj    (293527.94068662776, 345704.81387977325, 75104...
raw_data
Name: SF23_YA_III, dtype: object
# Folha de código: SF23_YA_III
 Retirando dados brutos em dic_cartas['raw_data']
 com 25731 pontos de contagens radiométricas coletados com linhas de voo de 500 metros

5it [00:16,  4.05s/it]

__________________________________________

SF23_YA_VI geometry       POLYGON ((294260.0693787823 7510453.818425057,...
region                              (-47.0, -46.5, -23.0, -22.5)
region_proj    (294260.0693787823, 346265.42586304026, 745508...
raw_data
Name: SF23_YA_VI, dtype: object
# Folha de código: SF23_YA_VI
 Retirando dados brutos em dic_cartas['raw_data']
 com 31469 pontos de contagens radiométricas coletados com linhas de voo de 500 metros

6it [00:21,  3.61s/it]

__________________________________________

Dicionário de cartas disponível

In [7]:
data = dic_cartas_1039['cubic']['SF23_YA_V']

In [8]:
data_percentiles = dic_raw_meta_1039['Percentiles']

In [9]:
data_percentiles.T

,count,mean,std,min,0.1%,10%,25%,50%,75%,99.5%,max
MAGR,539049.0,122.236022,108.894902,-3021.33,-406.63472,-5.92,71.64,130.18,180.18,477.6656,2208.39
THC,539049.0,44.724456,38.912747,0.00,0.00000,5.83,17.48,36.44,60.58,216.6052,509.05
UC,539049.0,13.957452,11.318831,0.00,0.00000,0.13,5.52,12.16,19.95,56.7000,179.14
KC,539049.0,53.842536,57.677638,0.00,0.00000,0.00,10.25,34.99,81.39,291.5128,625.28
CTC,539049.0,898.907053,710.849896,0.00,0.00000,122.83,288.63,821.87,1283.32,3631.8148,7474.42
ALTE,539049.0,153.437738,33.046108,42.06,69.49000,119.48,135.03,149.66,165.81,300.0000,300.00

In [10]:
plt.figure()
plt.scatter(x=data.X,y=data.Y, c=data.MAGIGRF,cmap='hsv',vmin=-400,vmax=400)
plt.axis('scaled')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

(240193.98284371546, 297618.0105929003, 7451486.863392068, 7513261.768664723)

In [22]:
ax = dic_raw_meta_1039['Malha_cartografica'].boundary.plot(color='Black')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [16]:
dic_cartas_1039['cubic'].keys()

dict_keys(['SF23_YA_II', 'SF23_YA_V', 'SF23_YA_III', 'SF23_YA_VI'])

In [20]:
for i in dic_cartas_1039['cubic']:
    data = dic_cartas_1039['cubic'][i]
    plt.scatter(x=data.X,y=data.Y,c=data.MAGIGRF)

In [24]:
data = dic_cartas_1039['cubic']['SF23_YA_V']
plt.scatter(x=data.X,y=data.Y,c=data.MAGIGRF)

In [1]:
dic_raw_meta_1039['cubic']['SF23_YA_V']

NameError: name 'dic_raw_meta_1039' is not defined

In [ ]:
dic_raw_meta_1039['cubic']['SF23_YA_V']