In [2]:
import pandas as pd

gdb = '/home/ggrl/geodatabase/'

In [2]:
gama_cols = 'KB DATA BARO UB THB COSMICO CTB UUP ALTURA KPERC eU eTH CTEXP UTHRAZAO X Y UKRAZAO MDT THKRAZAO LIVE_TIME CTCOR KCOR THCOR UCOR HORA GPSALT LATITUDE FIDUCIAL TEMP LONGITUDE'.split(" ")

gTie_cols = 'KB DATA BARO UB THB COSMICO CTB UUP ALTURA KPERC eU eTH CTEXP UTHRAZAO X Y UKRAZAO MDT THKRAZAO LIVE_TIME CTCOR KCOR THCOR UCOR HORA GPSALT LATITUDE FIDUCIAL TEMP LONGITUDE __X __Y'.split(" ")

mag_cols = 'DATA BARO ALTURA X Y MDT HORA GPSALT LATITUDE FIDUCIAL LONGITUDE ALTURA_1 IGRF MAGBASE MAGBRU MAGCOM MAGCOR MAGIGRF MAGMIC MAGNIV'.split(" " )

In [3]:
gLine_1105 = pd.read_csv(gdb+'xyz/1105_XYZ/1105_GamaLine.XYZ',
                         names=gama_cols,
                         delim_whitespace=True,
                         skiprows=11,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "KPERC","eU","eTH","CTCOR","MDT"])

gTie_1105 = pd.read_csv(gdb+'xyz/1105_XYZ/1105_GamaTie.XYZ',
                         names=gTie_cols,
                         delim_whitespace=True,
                         skiprows=11,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "KPERC","eU","eTH","CTCOR","MDT"])

g_1105 = pd.concat([gTie_1105,gLine_1105], ignore_index=True)

In [5]:
print(gLine_1105.shape)
print(gTie_1105.shape)

print(g_1105.shape)

(1173984, 9)
(73152, 9)
(1247136, 9)

In [6]:
g_1105.head()

,KPERC,eU,eTH,X,Y,MDT,CTCOR,LATITUDE,LONGITUDE
0,0.060,0.597,0.587,378133.94,7345653.93,0.00,3.305,-23.996399,-46.198067
1,0.139,0.332,0.824,378061.80,7345654.98,0.00,5.257,-23.996384,-46.198776
2,1.490,0.399,6.987,377989.96,7345656.47,0.14,8.125,-23.996365,-46.199482
3,1.975,1.459,6.574,377917.82,7345657.63,2.46,11.506,-23.996349,-46.200191
4,2.497,1.755,8.473,377845.99,7345659.12,12.47,14.051,-23.996330,-46.200897

In [7]:
g_1105.shape

(1247136, 9)

In [8]:
g_1105 = g_1105.dropna(inplace=False)
g_1105

,KPERC,eU,eTH,X,Y,MDT,CTCOR,LATITUDE,LONGITUDE
0,0.060,0.597,0.587,378133.94,7345653.93,0.00,3.305,-23.996399,-46.198067
1,0.139,0.332,0.824,378061.80,7345654.98,0.00,5.257,-23.996384,-46.198776
2,1.490,0.399,6.987,377989.96,7345656.47,0.14,8.125,-23.996365,-46.199482
3,1.975,1.459,6.574,377917.82,7345657.63,2.46,11.506,-23.996349,-46.200191
4,2.497,1.755,8.473,377845.99,7345659.12,12.47,14.051,-23.996330,-46.200897
...,...,...,...,...,...,...,...,...,...
1247131,0.509,0.373,15.020,602874.51,7526876.45,571.23,5.532,-22.360971,-44.000843
1247132,0.315,0.549,14.462,602872.51,7526806.94,578.02,5.043,-22.361599,-44.000858
1247133,0.282,1.005,17.569,602871.22,7526737.54,581.39,6.422,-22.362226,-44.000866
1247134,0.399,1.347,20.376,602870.35,7526668.02,577.24,8.287,-22.362854,-44.000870
1247135,0.297,1.603,20.764,602870.30,7526598.50,566.03,9.324,-22.363482,-44.000866

In [9]:
mLine_1105 = pd.read_csv(gdb+'xyz/1105_XYZ/1105_MagLine.XYZ',
                         names=mag_cols,
                         delim_whitespace=True,
                         skiprows=11,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "MAGIGRF","MDT"])

mTie_1105 = pd.read_csv(gdb+'xyz/1105_XYZ/1105_MagTie.XYZ',
                         names=mag_cols,
                         delim_whitespace=True,
                         skiprows=11,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "MAGIGRF","MDT"])

m_1105 = pd.concat([mLine_1105,mTie_1105], ignore_index=True)

In [10]:
m_1105.head()

           X           Y     MDT   LATITUDE  LONGITUDE  MAGIGRF
0  292879.66  7624043.90  609.44 -21.474226 -46.998990   49.882
1  292879.49  7624052.04  609.53 -21.474153 -46.998991   50.469
2  292879.32  7624060.18  609.60 -21.474079 -46.998991   50.987
3  292879.15  7624068.32  609.66 -21.474006 -46.998992   51.473
4  292878.98  7624076.47  609.71 -21.473932 -46.998993   51.945

In [11]:
m_1105.shape

(12344761, 6)

In [12]:
m_1105 = m_1105.dropna(inplace=False)

In [13]:
m_1105.shape

(12340658, 6)

In [14]:
g_1105.to_csv(gdb+'geof/g1105',index=False)

m_1105.to_csv(gdb+'geof/m1105', index=False)

In [3]:
m_1105 = pd.read_csv(gdb+'geof/m1105')
g_1105 = pd.read_csv(gdb+'geof/g1105')

In [4]:
g_1105.head()

,KPERC,eU,eTH,X,Y,MDT,CTCOR,LATITUDE,LONGITUDE
0,0.060,0.597,0.587,378133.94,7345653.93,0.00,3.305,-23.996399,-46.198067
1,0.139,0.332,0.824,378061.80,7345654.98,0.00,5.257,-23.996384,-46.198776
2,1.490,0.399,6.987,377989.96,7345656.47,0.14,8.125,-23.996365,-46.199482
3,1.975,1.459,6.574,377917.82,7345657.63,2.46,11.506,-23.996349,-46.200191
4,2.497,1.755,8.473,377845.99,7345659.12,12.47,14.051,-23.996330,-46.200897

In [5]:
m_1105.head()

           X           Y     MDT   LATITUDE  LONGITUDE  MAGIGRF
0  292879.66  7624043.90  609.44 -21.474226 -46.998990   49.882
1  292879.49  7624052.04  609.53 -21.474153 -46.998991   50.469
2  292879.32  7624060.18  609.60 -21.474079 -46.998991   50.987
3  292879.15  7624068.32  609.66 -21.474006 -46.998992   51.473
4  292878.98  7624076.47  609.71 -21.473932 -46.998993   51.945

In [4]:
gama_cols = 'X Y FIDUCIAL GPSALT BARO ALTURA MDT CTB KB UB THB UPU LIVE_TIME COS TEMP KPERC eU eth CTEXP CTCOR UCOR THCOR KCOR THKRAZAO UKRAZAO UTHRAZAO LONGITUDE LATITUDE DATA HORA'.split(" ")
 
mag_cols = 'X Y FIDUCIAL GPSALT BARO ALTURA MDT MAGBASE MAGBRU MAGCOM MAGCOR MAGNIV MAGMIC MAGIGRF IGRF LONGITUDE LATITUDE DATA HORA'.split(" ")

In [7]:
gLine_1089 = pd.read_csv(gdb+'xyz/1089_XYZ/XYZ/1089_GamaLine.XYZ',
                         names=gama_cols,
                         delim_whitespace=True,
                         skiprows=11,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "KPERC","eU","eth","CTCOR","MDT"],
                         na_values=('*'))

gTie_1089 = pd.read_csv(gdb+'xyz/1089_XYZ/XYZ/1089_GamaTie.XYZ',
                         names=gama_cols,
                         delim_whitespace=True,
                         skiprows=11,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "KPERC","eU","eth","CTCOR","MDT"],
                         na_values=('*'))

In [8]:
g_1089 = pd.concat([gTie_1089,gLine_1089], ignore_index=True)

In [9]:
g_1089 = g_1089.dropna(inplace=False)
g_1089.to_csv(gdb+'geof/g1089',index=False)

In [27]:
mLine_1089 = pd.read_csv(gdb+'xyz/1089_XYZ/XYZ/1089_MagLine.XYZ',
                         names=mag_cols,
                         delim_whitespace=True,
                         skiprows=11,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "MAGIGRF","MDT"],
                         na_values=('*'))

ValueError: could not convert string to float: 'Line'

In [14]:
mTie_1089 = pd.read_csv(gdb+'xyz/1089_XYZ/XYZ/1089_MagTie.XYZ',
                         names=mag_cols,
                         delim_whitespace=True,
                         skiprows=11,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "MAGIGRF","MDT"],
                         na_values=('*'))

/home/ggrl/Softwares/anaconda3/envs/mappingBot/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [21]:
mTie_1089.shape

(330128, 6)

In [22]:
mLine_1089.shape

(6348600, 6)

In [19]:
330128+330128

660256

In [23]:
m_1089 = pd.concat([mTie_1089,mLine_1089], ignore_index=True)

In [24]:
m_1089.shape

(6678728, 6)

In [25]:
m_1089 = m_1089.dropna(inplace=False)
m_1089.to_csv(gdb+'geof/m1089',index=False)

In [26]:
m_1089.shape

(6676787, 6)

In [31]:
m_1089.head()

           X           Y     MDT  MAGIGRF  LONGITUDE   LATITUDE
0  528763.95   8756155.5  518.40   -5.868 -44.736474 -11.251893
1  528755.79  8756155.53  518.43   -5.898 -44.736549 -11.251893
2  528747.63  8756155.57  518.36   -5.934 -44.736624 -11.251893
3  528739.46   8756155.6  519.28   -5.974 -44.736699 -11.251892
4  528731.30  8756155.63  519.58   -6.018 -44.736773 -11.251892