In [5]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib widget

### Definimos a raiz do banco de dados, local onde estão armazenados os arquivos com os dados aerogefísico e . 'C:/geodatabase' ; '/home/ggrl/geadatabase/' ;

In [4]:
gdb = '/home/ggrl/geodatabase/'

In [3]:
import my_funcs as f                            # "/sources/my_funcs.py" - arquivo texto com os codigos em python desenvolvidos durante este projeto de pesquisa.
                                                # Algumas funções definidas neste arquivo texto serão utilizadas e descritas neste arquivo '5 - preprocessamento.ipynb'

####  select_area(escala, id_folha)
#####       - seleção da área de estudo a partir da malha cartográfica em escalas pré-definidas:
                                                - '1:1.000.000' = '1kk'
                                                -   '1:100.000' = '100k'
                                                -    '1:50.000' = '50k'
                                                -    '1:25.000' = '25k'

#####       - e a identificação da folha a partid da articulção sistemática das folhas de cartas. f.nomeador_malha()
                                                - fid: 25162
                                                - id_folha: SB24_Z_B_II_3_SW

In [10]:
SF23_Y_B_I_50k = f.select_area('50k','SF23_Y_B_I_')

In [11]:
SF23_Y_B_I_50k

,id_folha,geometry,region
8987,SF23_Y_B_I_1,"POLYGON ((-46.50000 -22.00000, -46.25000 -22.0...","(-46.5, -46.25, -22.25, -22.0)"
8988,SF23_Y_B_I_3,"POLYGON ((-46.50000 -22.25000, -46.25000 -22.2...","(-46.5, -46.25, -22.5, -22.25)"
9081,SF23_Y_B_I_2,"POLYGON ((-46.25000 -22.00000, -46.00000 -22.0...","(-46.25, -46.0, -22.25, -22.0)"
9082,SF23_Y_B_I_4,"POLYGON ((-46.25000 -22.25000, -46.00000 -22.2...","(-46.25, -46.0, -22.5, -22.25)"

In [12]:
l_1kk = f.importar('l_1kk')

In [13]:
base = l_1kk.plot('SIGLA')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [14]:
SF23_Y_B_I_50k.boundary.plot(ax=base,color='black')

In [9]:
gama_cols = 'KB DATA BARO UB THB COSMICO CTB UUP ALTURA KPERC eU eTH CTEXP UTHRAZAO X Y UKRAZAO MDT THKRAZAO LIVE_TIME CTCOR KCOR THCOR UCOR HORA GPSALT LATITUDE FIDUCIAL TEMP LONGITUDE'.split(" ")


gLine_1105 = pd.read_csv(gdb+'xyz/1105_XYZ/1105_GamaLine.XYZ',
                         names=gama_cols,
                         delim_whitespace=True,
                         skiprows=11,
                         usecols=["X","Y","LATITUDE","LONGITUDE",
                                  "KPERC","eU","eTH","CTCOR","MDT"])

In [10]:
gLine_1105

,KPERC,eU,eTH,X,Y,MDT,CTCOR,LATITUDE,LONGITUDE
0,1.020,1.110,13.000,292878.15,7624109.00,600.12,23.000,-21.473638,-46.998997
1,1.470,1.090,13.530,292876.59,7624190.38,599.47,24.200,-21.472903,-46.999002
2,1.820,1.150,14.970,292875.03,7624271.94,600.63,25.300,-21.472167,-46.999007
3,1.520,1.220,14.940,292874.16,7624353.33,602.72,25.500,-21.471432,-46.999005
4,1.340,1.150,13.110,292873.81,7624434.72,602.21,24.500,-21.470697,-46.998998
...,...,...,...,...,...,...,...,...,...
1173979,0.509,0.373,15.020,602874.51,7526876.45,571.23,5.532,-22.360971,-44.000843
1173980,0.315,0.549,14.462,602872.51,7526806.94,578.02,5.043,-22.361599,-44.000858
1173981,0.282,1.005,17.569,602871.22,7526737.54,581.39,6.422,-22.362226,-44.000866
1173982,0.399,1.347,20.376,602870.35,7526668.02,577.24,8.287,-22.362854,-44.000870
1173983,0.297,1.603,20.764,602870.30,7526598.50,566.03,9.324,-22.363482,-44.000866

In [25]:
#geof_1039 = pd.read_csv(gdb+'geof/geof_1039')
g_3022 =pd.read_csv(gdb+'geof/g3022.csv')

In [44]:
import rasterio as rio

In [26]:
import math
import numpy as np
import verde as vd

import geopandas as gpd
import pandas as pd

import rasterio as rio

gdb = '/home/ggrl/geodatabase/'



# Importador de Litologias por escala
def importar(camada):
    lito =  gpd.read_file(gdb+'database.gpkg',
                        driver= 'GPKG',
                        layer= camada)
    return(lito)



# Selecionador de Mapas a partir do nome
def mapa(escala,nome):
    folha = escala[escala.MAPA == 'Carta geológica da folha '+nome]
    return(folha)

'''
# Selecionador de ocorrências
def ocrr(substancia):
    ocorrencias= gpd.read_file(gdb+'database.gpkg',
                              driver= 'GPKG',
                              layer= 'ocorr_min')
    
    subs= ocorrencias
'''

# Nomeador de Grids
p1kk=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
p500k=[['V','Y'],['X','Z']]
p250k=[['A','C'],['B','D']]
p100k=[['I','IV'],['II','V'],['III','VI']]
p50k=[['1','3'],['2','4']]
p25k=[['NW','SW'],['NE','SE']]

def nomeador_grid(left,right,top,bottom,escala=5):
    if left>right:
        print('Oeste deve ser menor que leste')
    if top<bottom:
        print('Norte deve ser maior que Sul')
    
    else:
        folha=''
        if top<=0:
            folha+='S'
            north=False
            index=math.floor(-top/4)
        else:
            folha+='N'
            north=True
            index=math.floor(bottom/4)
        
        numero=math.ceil((180+right)/6)
        folha+=p1kk[index]+str(numero)

        
        lat_gap=abs(top-bottom)
        #p500k-----------------------
        if (lat_gap<=2) & (escala>=1):
            LO=math.ceil(right/3)%2==0
            NS=math.ceil(top/2)%2!=north
            folha+='_'+p500k[LO][NS]
        #p250k-----------------------
        if (lat_gap<=1) & (escala>=2):
            LO=math.ceil(right/1.5)%2==0
            NS=math.ceil(top)%2!=north
            folha+='_'+p250k[LO][NS]
        #p100k-----------------------
        if (lat_gap<=0.5) & (escala>=3):
            LO=(math.ceil(right/0.5)%3)-1
            NS=math.ceil(top/0.5)%2!=north
            folha+='_'+p100k[LO][NS]
        #p50k------------------------
        if (lat_gap<=0.25) & (escala>=4):
            LO=math.ceil(right/0.25)%2==0
            NS=math.ceil(top/0.25)%2!=north
            folha+='_'+p50k[LO][NS]
        #p25k------------------------
        if (lat_gap<=0.125) & (escala>=5):
            LO=math.ceil(right/0.125)%2==0
            NS=math.ceil(top/0.125)%2!=north
            folha+='_'+p25k[LO][NS]
        return folha

# Definindo Regions (W,E,S,N)

def regions(gdf):
    bounds = gdf.bounds 
    gdf['region'] = [(left,right,bottom,top) for left,right,bottom,top in zip(bounds['minx'],bounds['maxx'],
                                                                                bounds['miny'],bounds['maxy'])]

# Definindo nomes da malha a partir da articulação sistematica de folhas de cartas. Construindo uma lista e definindo como uma series.
def nomeador_malha(gdf):
    df = pd.DataFrame(gdf)
    lista_grid = []
    for index, row in df.iterrows():
        row['id_folha'] = (nomeador_grid(row.region[0],row.region[1],
                                         row.region[3],row.region[2],escala=5))
        lista_grid.append(row.id_folha)

    gdf['id_folha'] = lista_grid

# Selecionador de Região

def select_area(escala,id):
    malha_cartog = importar('malha_cartog_'+escala+'_wgs84')
    regions(malha_cartog)
    area = malha_cartog[malha_cartog['id_folha'].str.contains(id)]      # '.contains' não é ideal, atributo 'id_folha' deve ser == select_area('id').
    return(area)

# Selecionar Intersecção do aerolevantamento 1039

# Iterando entre as regions da malha cartográfica
def interpolar(escala,id,geof,degree=1,spacing=499,psize=100,validate=False,n_splits=15):
    lista_canal=['CTCOR','eU','eTH','MDT','KPERC']
    grids = {lista_canal[0]:(),lista_canal[1]:(),lista_canal[2]:(),lista_canal[3]:(), lista_canal[4]:()}    # Dicionário para salvar os dados interpolados (grids)
    scores = {lista_canal[0]:(),lista_canal[1]:(),lista_canal[2]:(), lista_canal[3]:(), lista_canal[4]:()}   # Dicionário para salvar os dados da validação cruzada
                                                      
    malha_cartografica = select_area(escala,id)
       
    for index, row in malha_cartografica.iterrows():
        print(row.id_folha+' start')

        data = geof[vd.inside((geof.LONGITUDE, geof.LATITUDE), region = row.region)]        # Recortando o dado bruto a partir das coordenadas da malha cartografica
        coordinates = (data.X.values, data.Y.values)                                        # Coletando coordenadas UTM para interpolação.

        if data.empty == True:                                                              # if data dont have values pass to next step
            print('none')
        if len(data) < 100:                                                                 # if less then 2000 points pass to next step
            print('few data')                


        # Tratamento dos dados
        # 




        else:
            for i in lista_canal:                                                           # Iterando entre a lista de canais radiométricos.
                print(i)
                chain = vd.Chain([
                    ('trend', vd.Trend(degree=degree)),
                    ('reduce', vd.BlockReduce(np.median, spacing=spacing)),
                    ('spline', vd.Spline())
                ])
                
                chain.fit(coordinates, data[i])
                
                if validate == True:
                    cv     = vd.BlockKFold(spacing=spacing,
                                n_splits=n_splits,
                                shuffle=True)

                    scores[i] = vd.cross_val_score(chain,
                                            coordinates,
                                            data[i],
                                            cv=cv)

                print('gridding')

                grid = chain.grid(spacing=psize, data_names=[i],pixel_register=True)
                grids[i] = vd.distance_mask(coordinates, maxdist=spacing, grid= grid)
                
                '''
                tif_ = grids[i].rename(easting = 'x',northing='y')
                tif_.rio.to_raster('/home/ggrl/Desktop/grids/test/'+i+'_'+row.id_folha+'.tif')
                '''

            return grids,data

In [27]:
interpolado_SF23_Y_B_I, aerogeof_SF23_Y_B_I = interpolar('50k','SF23_Y_B_I',gLine_1105)

SF23_Y_B_I_1 start
CTCOR
gridding
eU
gridding
eTH
gridding
MDT
gridding
KPERC
gridding

In [47]:
df=aerogeof_SF23_Y_B_I
datadict = pd.DataFrame(df.dtypes)
datadict["Valores Faltantes"] = df.isnull().sum()
datadict["Valores Únicos"] = df.nunique()
datadict["Contagem"] = df.count()
datadict = datadict.rename(columns = {0 : 'dType'})
datadict

             dType  Valores Faltantes  Valores Únicos  Contagem
KPERC      float64                  0            3867     18044
eU         float64                  0            4385     18044
eTH        float64                  0           14179     18044
X          float64                  0           17263     18044
Y          float64                  0           17994     18044
MDT        float64                  0           15384     18044
CTCOR      float64                  0           10221     18044
LATITUDE   float64                  0           17450     18044
LONGITUDE  float64                  0           16154     18044

In [111]:
# features
FEAT = ['KPERC','eTH','eU','CTCOR','MDT']

# 'U_K','TH_K','U_TH'

# dados geofísicos
GF = ['KPERC', 'eTH', 'eU', 'CTCOR']

# canais radiométricos
RADIO = ['KPERC', 'eTH', 'eU']

# sensores remotos
SR = ['MDT']

# coordenadas em sirgas
COORD = ['LONGITUDE', 'LATITUDE']


# Dicionário de features
titles = ['K (%)', 'Th (ppm)', 'U (ppm)',
          'Contagem Total (μR/h)', 'MDT (m)']
dic_titles = {}
for f, t in zip(FEAT, titles):
    dic_titles[f] = t
    
# salva figuras no disco em formato .png
save_plots = False

In [112]:
df[GF].describe(percentiles = [0.01,0.02,0.10, 0.25, 0.50, 0.75, 0.995]).T

,count,mean,std,min,1%,2%,10%,25%,50%,75%,99.5%,max
KPERC,18044.0,1.213053,0.998049,-0.499,-0.07600,0.00600,0.2190,0.45800,0.9735,1.7180,5.175785,6.531
eTH,18044.0,22.008218,11.976516,-0.310,5.11043,5.92260,9.2396,14.30975,20.0820,27.7095,72.923340,223.136
eU,18044.0,1.823964,1.114266,-0.484,-0.05814,0.12386,0.6590,1.11300,1.6675,2.3210,6.748925,20.878
CTCOR,18044.0,8.755916,4.243388,0.687,1.82472,2.16486,3.7863,5.91250,8.4045,10.9590,25.765375,63.648

In [113]:
# número de valores negativos de K
print('# pontos K% < 0: ', df.query('KPERC < 0')['KPERC'].count())
print('# pontos eU < 0: ', df.query('eU < 0')['eU'].count())
print('# pontos eTh < 0: ', df.query('eTH < 0')['eTH'].count())

# pontos K% < 0:  343
# pontos eU < 0:  239
# pontos eTh < 0:  1

In [116]:
df_plt = df.copy(deep = True)

In [123]:
# fonte: Times New Roman, tamanho: 12
plt.rcParams.update({'font.family':'Times New Roman', 'font.size' : 12})

# estilo dos gráficos
plt.style.use('seaborn-white')

fs_title = 16           # tamanho da fonte dos títulos
cm       = 'hsv'        # mapa de cores
mk       = 's'          # estilo do marcador (quadrado)
sz       = 1            # tamanho do marcador    
col      = 'lightblue'  # cor dos histogramas
ec       = 'black'      # cor das bordas dos histogramas

fig, axs = plt.subplots(nrows = 2, ncols = 3, figsize = (12, 12))

X, Y = COORD[0], COORD[1]

for ax, f in zip(axs.flat, dic_titles):
    g = ax.scatter(data = df_plt, x = X, y = Y, c = f, cmap = cm, s = sz, marker = mk)
    fig.colorbar(g, ax = ax)
    ax.set_title(str(dic_titles[f]), size = fs_title)

fig.delaxes(axs[1][2])
plt.tight_layout()

# salva mapas
if save_plots:
    plt.savefig("figures/notebook1/Figura_01.png", dpi = 300);

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [18]:
plt.figure()
aerogeof_SF23_Y_B_I['MDT'].MDT.plot(cmap='terrain')
plt.axis('scaled')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

(345352.29999999993, 370915.77999999997, 7538748.82, 7566616.53)

In [19]:
plt.figure()
aerogeof_SF23_Y_B_I['CTCOR'].CTCOR.plot(cmap='hsv')
plt.axis('scaled')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

(345352.29999999993, 370915.77999999997, 7538748.82, 7566616.53)

In [20]:
plt.figure()
aerogeof_SF23_Y_B_I['KPERC'].KPERC.plot(cmap='hsv',vmin=0)
plt.axis('scaled')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

(345352.29999999993, 370915.77999999997, 7538748.82, 7566616.53)

In [21]:
plt.figure()
aerogeof_SF23_Y_B_I['eU'].eU.plot(cmap='hsv')
plt.axis('scaled')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

(345352.29999999993, 370915.77999999997, 7538748.82, 7566616.53)